<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/assets/css/bootstrap.min.css" rel="stylesheet">

<link href="/assets/css/bootstrap-icons.css" rel="stylesheet">

<link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">

<link rel="stylesheet" href="/assets/css/nice-select.css">

<link rel="stylesheet" href="/assets/css/animate.min.css">
<link rel="stylesheet" href="/assets/css/jquery.fancybox.min.css">

<link href="/assets/css/boxicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/style.css">

<title>Zmedios | About</title>
<link rel="icon" href="/assets/img/sm-logo.svg" type="image/gif" sizes="20x20">
</head>
<body id="body" class="tt-smooth-scroll tt-magic-cursor home1-bg">



<%- include('header') %>

<main class="page-content">

<div class="line_wrap">
<div class="line_item first-line"></div>
<div class="line_item center-line"></div>
<div class="line_item last-line"></div>
</div>


<div class="about-banner-section">
<div class="container-lg container-fluid">
<div class="about-content-wrap">
<div class="sub-title text-animation">
<h6>About Us
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
<path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z" />
</svg>
</h6>
<svg class="star" xmlns="http://www.w3.org/2000/svg" width="45" height="36" viewBox="0 0 45 36">
<path d="M41.0652 13.6409C35.2969 11.1608 31.0567 6.12526 29.8725 0C28.6882 6.12526 24.448 11.1608 18.6798 13.6409C17.5719 14.1294 14.7451 14.881 14.7451 14.881C14.7451 14.881 17.5337 15.6326 18.6798 16.1211C24.448 18.6013 28.6882 23.6743 29.8725 29.762C31.0567 23.6367 35.2969 18.6013 41.0652 16.1211C42.173 15.6326 44.9998 14.881 44.9998 14.881C44.9998 14.881 42.2112 14.1294 41.0652 13.6409Z" />
<path d="M17.1903 26.4929C13.7523 25.0274 11.2693 22.0211 10.5435 18.4136C9.85588 22.0211 7.33466 25.0274 3.89663 26.4929C3.24722 26.7935 1.56641 27.2069 1.56641 27.2069C1.56641 27.2069 3.20902 27.6578 3.89663 27.9209C7.33466 29.3864 9.81768 32.3927 10.5435 36.0002C11.2693 32.4303 13.7523 29.424 17.1903 27.9585C17.8398 27.6578 19.5206 27.2445 19.5206 27.2445C19.5206 27.2445 17.8398 26.7935 17.1903 26.4929Z" />
<path d="M44.3893 27.2443C44.3893 28.1086 43.6635 28.785 42.823 28.785C41.9444 28.785 41.2568 28.071 41.2568 27.2443C41.2568 26.38 41.9826 25.7036 42.823 25.7036C43.6635 25.666 44.3893 26.38 44.3893 27.2443Z" />
<path d="M15.318 5.8244C15.318 6.6887 14.5922 7.36511 13.7518 7.36511C12.8732 7.36511 12.1855 6.65112 12.1855 5.8244C12.1855 4.9601 12.9114 4.28369 13.7518 4.28369C14.6304 4.28369 15.318 4.9601 15.318 5.8244Z" />
<path d="M1.56621 16.4218C2.43121 16.4218 3.13243 15.732 3.13243 14.881C3.13243 14.0301 2.43121 13.3403 1.56621 13.3403C0.701218 13.3403 0 14.0301 0 14.881C0 15.732 0.701218 16.4218 1.56621 16.4218Z" />
</svg>
</div>
<div class="about-section-title text-animation">
<h1>We provides a range of services related to <br>
<span>digital marketing, online presence, & technology.</span>
</h1>
</div>
<a class="circle-btn btn-hover two d-md-none d-flex" href="/contact">
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z">
</path>
</svg> Get in <strong>Touch</strong>
<span></span>
</a>
</div>
</div>
<div class="about-img-area d-md-block d-none">
<div class="container-fluid p-0">
<div class="about-img-wrap">
<img src="/assets/img/innerpage/about-banner-img.jpg" alt>
<div class="button-area">
<div class="btn_wrapper">
<a class="circle-btn btn-hover two" href="/contact">
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z">
</path>
</svg> Get in <strong>Touch</strong>
<span></span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="partner-area pt-130 mb-130">
    <div class="container-lg container-fluid">
    <div class="row">
    <div class="col-lg-12">
    <div class="partner-wrap">
    <div class="title1">
    <h6>Our Trusted Partner</h6>
    </div>
    <div class="marquee light">
        <div class="marquee__group">
            <a href="#"><img src="/assets/img/clients/carritos.png" alt="carritos"></a>
            <a href="#"><img src="/assets/img/clients/coalgiene.png" alt="coalgene"></a>
            <a href="#"><img src="/assets/img/clients/dancewala.png" alt="dancewala"></a>
            <a href="#"><img src="/assets/img/clients/discovery.png" alt="discovery"></a>
            <a href="#"><img src="/assets/img/clients/furniture.png" alt="furniture"></a>
            
            <a href="#"><img src="/assets/img/clients/intech.png" alt="intech"></a>
            <a href="#"><img src="/assets/img/clients/jindal.png" alt="jindal"></a>
            <a href="#"><img src="/assets/img/clients/kazuki.png" alt="kazuki"></a>
            <a href="#"><img src="/assets/img/clients/logo1.png" alt="logo1"></a>
            <a href="#"><img src="/assets/img/clients/logo2.png" alt="logo2"></a>
            <a href="#"><img src="/assets/img/clients/logo3.png" alt="logo3"></a>
            <a href="#"><img src="/assets/img/clients/logo4.png" alt="logo4"></a>
            <a href="#"><img src="/assets/img/clients/logo5.png" alt="logo5"></a>
            <a href="#"><img src="/assets/img/clients/logo7.png" alt="logo7"></a>
            <a href="#"><img src="/assets/img/clients/logo8.png" alt="logo8"></a>
            <a href="#"><img src="/assets/img/clients/logo9.png" alt="logo9"></a>
            <a href="#"><img src="/assets/img/clients/logo10.png" alt="logo10"></a>
            <a href="#"><img src="/assets/img/clients/logo11.png" alt="logo11"></a>
            <a href="#"><img src="/assets/img/clients/lords.png" alt="lords"></a>
            <a href="#"><img src="/assets/img/clients/nestohub.png" alt="nestohub"></a>
            <a href="#"><img src="/assets/img/clients/peptone.png" alt="peptone"></a>
            <a href="#"><img src="/assets/img/clients/ripik.png" alt="ripik"></a>
        </div>
        <div aria-hidden="true" class="marquee__group">
            <a href="#"><img src="/assets/img/clients/carritos.png" alt="carritos"></a>
            <a href="#"><img src="/assets/img/clients/coalgiene.png" alt="coalgene"></a>
            <a href="#"><img src="/assets/img/clients/dancewala.png" alt="dancewala"></a>
            <a href="#"><img src="/assets/img/clients/discovery.png" alt="discovery"></a>
            <a href="#"><img src="/assets/img/clients/furniture.png" alt="furniture"></a>
            
            <a href="#"><img src="/assets/img/clients/intech.png" alt="intech"></a>
            <a href="#"><img src="/assets/img/clients/jindal.png" alt="jindal"></a>
            <a href="#"><img src="/assets/img/clients/kazuki.png" alt="kazuki"></a>
            <a href="#"><img src="/assets/img/clients/logo1.png" alt="logo1"></a>
            <a href="#"><img src="/assets/img/clients/logo2.png" alt="logo2"></a>
            <a href="#"><img src="/assets/img/clients/logo3.png" alt="logo3"></a>
            <a href="#"><img src="/assets/img/clients/logo4.png" alt="logo4"></a>
            <a href="#"><img src="/assets/img/clients/logo5.png" alt="logo5"></a>
            <a href="#"><img src="/assets/img/clients/logo7.png" alt="logo7"></a>
            <a href="#"><img src="/assets/img/clients/logo8.png" alt="logo8"></a>
            <a href="#"><img src="/assets/img/clients/logo9.png" alt="logo9"></a>
            <a href="#"><img src="/assets/img/clients/logo10.png" alt="logo10"></a>
            <a href="#"><img src="/assets/img/clients/logo11.png" alt="logo11"></a>
            <a href="#"><img src="/assets/img/clients/lords.png" alt="lords"></a>
            <a href="#"><img src="/assets/img/clients/nestohub.png" alt="nestohub"></a>
            <a href="#"><img src="/assets/img/clients/peptone.png" alt="peptone"></a>
            <a href="#"><img src="/assets/img/clients/ripik.png" alt="ripik"></a>
        </div>
    </div>
    
    <div class="marquee dark">
    <div class="marquee__group">
    <a href="#"><img src="/assets/img/clients/carritos.png" alt="carritos"></a>
            <a href="#"><img src="/assets/img/clients/coalgiene.png" alt="coalgene"></a>
            <a href="#"><img src="/assets/img/clients/dancewala.png" alt="dancewala"></a>
            <a href="#"><img src="/assets/img/clients/discovery.png" alt="discovery"></a>
            <a href="#"><img src="/assets/img/clients/furniture.png" alt="furniture"></a>
            
            <a href="#"><img src="/assets/img/clients/intech.png" alt="intech"></a>
            <a href="#"><img src="/assets/img/clients/jindal.png" alt="jindal"></a>
            <a href="#"><img src="/assets/img/clients/kazuki.png" alt="kazuki"></a>
            <a href="#"><img src="/assets/img/clients/logo1.png" alt="logo1"></a>
            <a href="#"><img src="/assets/img/clients/logo2.png" alt="logo2"></a>
            <a href="#"><img src="/assets/img/clients/logo3.png" alt="logo3"></a>
            <a href="#"><img src="/assets/img/clients/logo4.png" alt="logo4"></a>
            <a href="#"><img src="/assets/img/clients/logo5.png" alt="logo5"></a>
            <a href="#"><img src="/assets/img/clients/logo7.png" alt="logo7"></a>
            <a href="#"><img src="/assets/img/clients/logo8.png" alt="logo8"></a>
            <a href="#"><img src="/assets/img/clients/logo9.png" alt="logo9"></a>
            <a href="#"><img src="/assets/img/clients/logo10.png" alt="logo10"></a>
            <a href="#"><img src="/assets/img/clients/logo11.png" alt="logo11"></a>
            <a href="#"><img src="/assets/img/clients/lords.png" alt="lords"></a>
            <a href="#"><img src="/assets/img/clients/nestohub.png" alt="nestohub"></a>
            <a href="#"><img src="/assets/img/clients/peptone.png" alt="peptone"></a>
            <a href="#"><img src="/assets/img/clients/ripik.png" alt="ripik"></a>
    </div>
    <div aria-hidden="true" class="marquee__group">
    <a href="#"><img src="/assets/img/clients/carritos.png" alt="carritos"></a>
            <a href="#"><img src="/assets/img/clients/coalgiene.png" alt="coalgene"></a>
            <a href="#"><img src="/assets/img/clients/dancewala.png" alt="dancewala"></a>
            <a href="#"><img src="/assets/img/clients/discovery.png" alt="discovery"></a>
            <a href="#"><img src="/assets/img/clients/furniture.png" alt="furniture"></a>
            
            <a href="#"><img src="/assets/img/clients/intech.png" alt="intech"></a>
            <a href="#"><img src="/assets/img/clients/jindal.png" alt="jindal"></a>
            <a href="#"><img src="/assets/img/clients/kazuki.png" alt="kazuki"></a>
            <a href="#"><img src="/assets/img/clients/logo1.png" alt="logo1"></a>
            <a href="#"><img src="/assets/img/clients/logo2.png" alt="logo2"></a>
            <a href="#"><img src="/assets/img/clients/logo3.png" alt="logo3"></a>
            <a href="#"><img src="/assets/img/clients/logo4.png" alt="logo4"></a>
            <a href="#"><img src="/assets/img/clients/logo5.png" alt="logo5"></a>
            <a href="#"><img src="/assets/img/clients/logo7.png" alt="logo7"></a>
            <a href="#"><img src="/assets/img/clients/logo8.png" alt="logo8"></a>
            <a href="#"><img src="/assets/img/clients/logo9.png" alt="logo9"></a>
            <a href="#"><img src="/assets/img/clients/logo10.png" alt="logo10"></a>
            <a href="#"><img src="/assets/img/clients/logo11.png" alt="logo11"></a>
            <a href="#"><img src="/assets/img/clients/lords.png" alt="lords"></a>
            <a href="#"><img src="/assets/img/clients/nestohub.png" alt="nestohub"></a>
            <a href="#"><img src="/assets/img/clients/peptone.png" alt="peptone"></a>
            <a href="#"><img src="/assets/img/clients/ripik.png" alt="ripik"></a>
    </div>
    </div>
    <div class="title2">
    <h6>More than 20 Partner we have</h6>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

<div class="home1-about-section">
<div class="container-lg container-fluid">
<div class="row g-4 mb-60">
<div class="col-lg-4">
<div class="sub-title two text-animation">
<h6>Who We Are
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
<path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z" />
</svg>
</h6>
</div>
</div>
<div class="col-lg-8">
<div class="section-title two text-animation">
<h2>
    Zmedios: Driving global business growth and innovation in digital marketing and software development.</h2>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-4 d-lg-flex d-none justify-content-end align-items-start">
<div class="about-left animet-images magnetic-item pt-30">
<img src="/assets/img/home1/about-left.jpg" alt>
</div>
</div>
<div class="col-lg-8">
<div class="row g-lg-4 gy-5 align-items-xl-center">
<div class="col-lg-5">
<div class="about-right-img animet-images magnetic-item">
<img src="/assets/img/home1/about-right.jpg" alt>
</div>
</div>
<div class="col-lg-7">
<div class="about-content text-animation">
<p>Zmedios fuses creativity and tech for top-tier digital solutions. We customize marketing and software development to fit your goals, optimizing your online impact with expertise and innovation. Let's elevate your digital presence together.</p>
<a href="/services/web">Explore More
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
</svg>
</a>
<div class="signature-and-star text-animation">
<div class="signature">
<img src="/assets/img/home1/Signature.png" alt>
</div>
<div class="star">
<svg xmlns="http://www.w3.org/2000/svg" width="150" height="145" viewBox="0 0 150 145">
<g>
<path d="M150 60.2308H105.604L137.033 29.8498L119.011 12.5348L87.6923 42.9158V0H62.3077V42.9158L30.8791 12.5348L12.967 29.8498L44.3956 60.2308H0V84.7692H44.3956L12.967 115.044L30.8791 132.465L62.3077 102.084V145H87.6923V102.084L119.011 132.465L137.033 115.044L105.604 84.7692H150V60.2308Z" />
</g>
</svg>
</div>
</div>
</div>
</div>
</div>
<ul class="counter-wrap">
<li class="single-counter">
<div class="content">
<div class="number">
<h2 class="counter">70</h2>
<span>+</span>
</div>
<p>Professional Experts</p>
</div>
</li>
<li class="single-counter">
<div class="content">
<div class="number">
<h2 class="counter">20</h2>
<span>+</span>
</div>
<p>Projects Complete</p>
</div>
</li>
<li class="single-counter">
<div class="content">
<div class="number">
<h2 class="counter">16</h2>
<span>+</span>
</div>
<p>World-wide Clients</p>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="text-slider-section">
<div class="marquee">
<div class="marquee__group">
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg> DIGITAL PRODUCT
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>DIGITAL STUDIO
</span>
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg>BRANDING DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>EMAIL MARKETING
</span>
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg>BRANDING DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>EMAIL MARKETING
</span>
</div>
<div class="marquee__group">
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg> DIGITAL PRODUCT
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>DIGITAL STUDIO
</span>
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg>BRANDING DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>EMAIL MARKETING
</span>
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg>BRANDING DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>EMAIL MARKETING
</span>
</div>
</div>
</div>


<div class="gallery-pages pf-shoecase-page pt-130 mb-130">
    <div class="container-lg container-fluid">
    <div class="row">
    <div class="col-lg-12">
    <div class="section-title six mb-70">
    <h2>Our Gallery</h2>
    <div class="dash-and-paragraph">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 877 64">
    <path d="M0.333333 3C0.333333 4.47276 1.52724 5.66667 3 5.66667C4.47276 5.66667 5.66667 4.47276 5.66667 3C5.66667 1.52724 4.47276 0.333333 3 0.333333C1.52724 0.333333 0.333333 1.52724 0.333333 3ZM875 3L875.271 3.42013L876.697 2.5H875V3ZM842.084 64L845.265 59.1819L839.502 58.836L842.084 64ZM3 3.5H875V2.5H3V3.5ZM874.729 2.57987C861.302 11.2438 844.485 27.4669 841.856 59.4675L842.852 59.5494C845.45 27.938 862.03 11.9643 875.271 3.42013L874.729 2.57987Z" />
    </svg>
    <p>Creating a concise and effective design studio brief is crucial for outlining
    your business, its services.</p>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-12">
    <div class="filters filter-button-group">
    
    </div>
    </div>
    </div>
    <div class="row g-4 grid mb-130">
        <div class="col-lg-8 col-sm-8 grid-item office">
            <div class="single-gallery-img">
            <a href="assets/img/office/office1.png" data-fancybox="gallery" data-caption="Caption Images 4" class="view-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
            <path d="M7.07182 0.444444L7.8453 1.27778L6.62983 2.5C6.40884 2.72222 6.40884 3.05556 6.62983 3.27778C6.85083 3.5 7.18232 3.5 7.40331 3.27778L8.61878 2.05556L9.44751 2.83333C9.66851 3.05556 9.94475 2.88889 9.94475 2.66667V0.277778C9.94475 0.111111 9.83425 0 9.66851 0H7.29282C7.07182 0 6.90608 0.277778 7.07182 0.444444ZM0.441989 2.83333L1.21547 2.05556L2.43094 3.27778C2.65193 3.5 2.98343 3.5 3.20442 3.27778C3.42541 3.05556 3.42541 2.72222 3.20442 2.5L2.0442 1.27778L2.81768 0.444444C3.03867 0.277778 2.87293 0 2.65193 0H0.276243C0.110497 0 0 0.111111 0 0.277778V2.66667C0 2.88889 0.276243 3.05556 0.441989 2.83333ZM2.81768 9.5L1.98895 8.72222L3.20442 7.5C3.42541 7.27778 3.42541 6.94445 3.20442 6.72222C2.98343 6.5 2.65193 6.5 2.43094 6.72222L1.21547 7.94444L0.38674 7.16667C0.276243 6.94444 0 7.11111 0 7.33333V9.72222C0 9.88889 0.110497 10 0.276243 10H2.65193C2.87293 10 3.03867 9.72222 2.81768 9.5ZM9.50276 7.11111L8.67403 7.88889L7.45856 6.66667C7.23757 6.44444 6.90608 6.44444 6.68508 6.66667C6.46409 6.88889 6.46409 7.22222 6.68508 7.44444L7.90055 8.66667L7.12707 9.5C6.96133 9.66667 7.07182 10 7.34807 10H9.72376C9.8895 10 10 9.88889 10 9.72222V7.33333C9.94475 7.11111 9.66851 6.94444 9.50276 7.11111Z">
            </path>
            </svg> View image
            </a>
            <img src="assets/img/office/office1.png" alt>
            </div>
            </div>
            <div class="col-lg-4 col-sm-4 grid-item office festival">
                <div class="single-gallery-img">
                <a href="assets/img/office/office4.png" data-fancybox="gallery" data-caption="Caption Images 3" class="view-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                <path d="M7.07182 0.444444L7.8453 1.27778L6.62983 2.5C6.40884 2.72222 6.40884 3.05556 6.62983 3.27778C6.85083 3.5 7.18232 3.5 7.40331 3.27778L8.61878 2.05556L9.44751 2.83333C9.66851 3.05556 9.94475 2.88889 9.94475 2.66667V0.277778C9.94475 0.111111 9.83425 0 9.66851 0H7.29282C7.07182 0 6.90608 0.277778 7.07182 0.444444ZM0.441989 2.83333L1.21547 2.05556L2.43094 3.27778C2.65193 3.5 2.98343 3.5 3.20442 3.27778C3.42541 3.05556 3.42541 2.72222 3.20442 2.5L2.0442 1.27778L2.81768 0.444444C3.03867 0.277778 2.87293 0 2.65193 0H0.276243C0.110497 0 0 0.111111 0 0.277778V2.66667C0 2.88889 0.276243 3.05556 0.441989 2.83333ZM2.81768 9.5L1.98895 8.72222L3.20442 7.5C3.42541 7.27778 3.42541 6.94445 3.20442 6.72222C2.98343 6.5 2.65193 6.5 2.43094 6.72222L1.21547 7.94444L0.38674 7.16667C0.276243 6.94444 0 7.11111 0 7.33333V9.72222C0 9.88889 0.110497 10 0.276243 10H2.65193C2.87293 10 3.03867 9.72222 2.81768 9.5ZM9.50276 7.11111L8.67403 7.88889L7.45856 6.66667C7.23757 6.44444 6.90608 6.44444 6.68508 6.66667C6.46409 6.88889 6.46409 7.22222 6.68508 7.44444L7.90055 8.66667L7.12707 9.5C6.96133 9.66667 7.07182 10 7.34807 10H9.72376C9.8895 10 10 9.88889 10 9.72222V7.33333C9.94475 7.11111 9.66851 6.94444 9.50276 7.11111Z">
                </path>
                </svg> View image
                </a>
                <img src="assets/img/office/office4.png" alt>
                </div>
                </div>
    <div class="col-lg-4 col-sm-6 grid-item activites office">
    <div class="single-gallery-img">
    <a href="assets/img/office/office2.png" data-fancybox="gallery" data-caption="Caption Images 1" class="view-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
    <path d="M7.07182 0.444444L7.8453 1.27778L6.62983 2.5C6.40884 2.72222 6.40884 3.05556 6.62983 3.27778C6.85083 3.5 7.18232 3.5 7.40331 3.27778L8.61878 2.05556L9.44751 2.83333C9.66851 3.05556 9.94475 2.88889 9.94475 2.66667V0.277778C9.94475 0.111111 9.83425 0 9.66851 0H7.29282C7.07182 0 6.90608 0.277778 7.07182 0.444444ZM0.441989 2.83333L1.21547 2.05556L2.43094 3.27778C2.65193 3.5 2.98343 3.5 3.20442 3.27778C3.42541 3.05556 3.42541 2.72222 3.20442 2.5L2.0442 1.27778L2.81768 0.444444C3.03867 0.277778 2.87293 0 2.65193 0H0.276243C0.110497 0 0 0.111111 0 0.277778V2.66667C0 2.88889 0.276243 3.05556 0.441989 2.83333ZM2.81768 9.5L1.98895 8.72222L3.20442 7.5C3.42541 7.27778 3.42541 6.94445 3.20442 6.72222C2.98343 6.5 2.65193 6.5 2.43094 6.72222L1.21547 7.94444L0.38674 7.16667C0.276243 6.94444 0 7.11111 0 7.33333V9.72222C0 9.88889 0.110497 10 0.276243 10H2.65193C2.87293 10 3.03867 9.72222 2.81768 9.5ZM9.50276 7.11111L8.67403 7.88889L7.45856 6.66667C7.23757 6.44444 6.90608 6.44444 6.68508 6.66667C6.46409 6.88889 6.46409 7.22222 6.68508 7.44444L7.90055 8.66667L7.12707 9.5C6.96133 9.66667 7.07182 10 7.34807 10H9.72376C9.8895 10 10 9.88889 10 9.72222V7.33333C9.94475 7.11111 9.66851 6.94444 9.50276 7.11111Z">
    </path>
    </svg> View image
    </a>
    <img src="assets/img/office/office2.png" alt>
    </div>
    </div>
    <div class="col-lg-4 col-sm-6 grid-item activites">
    <div class="single-gallery-img">
    <a href="assets/img/office/office3.png" data-fancybox="gallery" data-caption="Caption Images 2" class="view-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
    <path d="M7.07182 0.444444L7.8453 1.27778L6.62983 2.5C6.40884 2.72222 6.40884 3.05556 6.62983 3.27778C6.85083 3.5 7.18232 3.5 7.40331 3.27778L8.61878 2.05556L9.44751 2.83333C9.66851 3.05556 9.94475 2.88889 9.94475 2.66667V0.277778C9.94475 0.111111 9.83425 0 9.66851 0H7.29282C7.07182 0 6.90608 0.277778 7.07182 0.444444ZM0.441989 2.83333L1.21547 2.05556L2.43094 3.27778C2.65193 3.5 2.98343 3.5 3.20442 3.27778C3.42541 3.05556 3.42541 2.72222 3.20442 2.5L2.0442 1.27778L2.81768 0.444444C3.03867 0.277778 2.87293 0 2.65193 0H0.276243C0.110497 0 0 0.111111 0 0.277778V2.66667C0 2.88889 0.276243 3.05556 0.441989 2.83333ZM2.81768 9.5L1.98895 8.72222L3.20442 7.5C3.42541 7.27778 3.42541 6.94445 3.20442 6.72222C2.98343 6.5 2.65193 6.5 2.43094 6.72222L1.21547 7.94444L0.38674 7.16667C0.276243 6.94444 0 7.11111 0 7.33333V9.72222C0 9.88889 0.110497 10 0.276243 10H2.65193C2.87293 10 3.03867 9.72222 2.81768 9.5ZM9.50276 7.11111L8.67403 7.88889L7.45856 6.66667C7.23757 6.44444 6.90608 6.44444 6.68508 6.66667C6.46409 6.88889 6.46409 7.22222 6.68508 7.44444L7.90055 8.66667L7.12707 9.5C6.96133 9.66667 7.07182 10 7.34807 10H9.72376C9.8895 10 10 9.88889 10 9.72222V7.33333C9.94475 7.11111 9.66851 6.94444 9.50276 7.11111Z">
    </path>
    </svg> View image
    </a>
    <img src="assets/img/office/office3.png" alt>
    </div>
    </div>
    <div class="col-lg-4 col-sm-6 grid-item office festival">
    <div class="single-gallery-img">
    <a href="assets/img/office/office5.png" data-fancybox="gallery" data-caption="Caption Images 3" class="view-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
    <path d="M7.07182 0.444444L7.8453 1.27778L6.62983 2.5C6.40884 2.72222 6.40884 3.05556 6.62983 3.27778C6.85083 3.5 7.18232 3.5 7.40331 3.27778L8.61878 2.05556L9.44751 2.83333C9.66851 3.05556 9.94475 2.88889 9.94475 2.66667V0.277778C9.94475 0.111111 9.83425 0 9.66851 0H7.29282C7.07182 0 6.90608 0.277778 7.07182 0.444444ZM0.441989 2.83333L1.21547 2.05556L2.43094 3.27778C2.65193 3.5 2.98343 3.5 3.20442 3.27778C3.42541 3.05556 3.42541 2.72222 3.20442 2.5L2.0442 1.27778L2.81768 0.444444C3.03867 0.277778 2.87293 0 2.65193 0H0.276243C0.110497 0 0 0.111111 0 0.277778V2.66667C0 2.88889 0.276243 3.05556 0.441989 2.83333ZM2.81768 9.5L1.98895 8.72222L3.20442 7.5C3.42541 7.27778 3.42541 6.94445 3.20442 6.72222C2.98343 6.5 2.65193 6.5 2.43094 6.72222L1.21547 7.94444L0.38674 7.16667C0.276243 6.94444 0 7.11111 0 7.33333V9.72222C0 9.88889 0.110497 10 0.276243 10H2.65193C2.87293 10 3.03867 9.72222 2.81768 9.5ZM9.50276 7.11111L8.67403 7.88889L7.45856 6.66667C7.23757 6.44444 6.90608 6.44444 6.68508 6.66667C6.46409 6.88889 6.46409 7.22222 6.68508 7.44444L7.90055 8.66667L7.12707 9.5C6.96133 9.66667 7.07182 10 7.34807 10H9.72376C9.8895 10 10 9.88889 10 9.72222V7.33333C9.94475 7.11111 9.66851 6.94444 9.50276 7.11111Z">
    </path>
    </svg> View image
    </a>
    <img src="assets/img/office/office5.png" alt>
    </div>
    </div>
   
   
    </div>
    <!-- <div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
    <div class="load-more-btn btn_wrapper">
    <button class="circle-btn btn-hover">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
    <path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z">
    </path>
    </svg> Load More <strong>Portfolio</strong>
    <span></span>
    </button>
    </div>
    </div>
    </div> -->
    </div>
    </div>






<div class="contact-section three">
<div class="container-lg container-fluid">
<div class="row g-lg-4 gy-5">
<div class="col-lg-8">
<div class="section-title text-animation">
<h2>Let’s <span>TALK</span></h2>
<div class="dash-and-paragraph">
<div class="dash"></div>
<div class="content-and-social">
<p>Ready to elevate your digital strategy? Reach out to the Zmedios team to start your transformation.</p>
<div class="social-area">
<h6>Connect Us</h6>
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
<path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z" />
</svg>
<ul>
<li><a href="https://hi-in.facebook.com/zmediostechnology/"><i class="bx bxl-facebook"></i></a>
</li>
<li><a href="https://www.youtube.com/channel/UCjTawyrg0i7aJXnoBbZ92TQ"><i class="bi bi-youtube"></i></a></li>
<li><a href="https://www.linkedin.com/"><i class="bx bxl-youtube"></i></a>
</li>
<li><a href="https://www.instagram.com/"><i class="bx bxl-instagram-alt"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 d-lg-flex justify-content-end align-items-center">
<div class="btn_wrapper">
<a class="circle-btn btn-hover two" href="/contact">
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z">
</path>
</svg> Contact <strong>Now</strong>
<span></span>
</a>
</div>
</div>
</div>
</div>
</div>

<%- include('footer') %>


</main>


<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<script src="/assets/js/swiper-bundle.min.js"></script>
<script src="/assets/js/slick.min.js"></script>

<script src="/assets/js/waypoints.min.js"></script>

<script src="/assets/js/jquery.counterup.min.js"></script>

<script src="/assets/js/jquery.nice-select.min.js"></script>

<script src="/assets/js/jquery.fancybox.min.js"></script>

<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>

<script src="/assets/js/gsap.min.js"></script>
<script src="/assets/js/ScrollTrigger.min.js"></script>
<script src="/assets/js/SmoothScroll.js"></script>
<script src="/assets/js/simpleParallax.min.js"></script>
<script src="/assets/js/TweenMax.min.js"></script>
<script src="/assets/js/SplitText.min.js"></script>

<script src="/assets/js/jquery.marquee.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>