<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/assets/css/bootstrap.min.css" rel="stylesheet">

<link href="/assets/css/bootstrap-icons.css" rel="stylesheet">

<link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">

<link rel="stylesheet" href="/assets/css/nice-select.css">

<link rel="stylesheet" href="/assets/css/animate.min.css">
<link rel="stylesheet" href="/assets/css/jquery.fancybox.min.css">

<link href="/assets/css/boxicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/style.css">

<title>Zmedios | About</title>
<link rel="icon" href="/assets/img/sm-logo.svg" type="image/gif" sizes="20x20">
</head>
<body id="body" class="tt-smooth-scroll tt-magic-cursor home1-bg">



<%- include('header') %>

<main class="page-content">

<div class="line_wrap">
<div class="line_item first-line"></div>
<div class="line_item center-line"></div>
<div class="line_item last-line"></div>
</div>


<div class="about-banner-section">
<div class="container-lg container-fluid">
<div class="about-content-wrap">
<div class="sub-title text-animation">
<h6>About Us
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
<path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z" />
</svg>
</h6>
<svg class="star" xmlns="http://www.w3.org/2000/svg" width="45" height="36" viewBox="0 0 45 36">
<path d="M41.0652 13.6409C35.2969 11.1608 31.0567 6.12526 29.8725 0C28.6882 6.12526 24.448 11.1608 18.6798 13.6409C17.5719 14.1294 14.7451 14.881 14.7451 14.881C14.7451 14.881 17.5337 15.6326 18.6798 16.1211C24.448 18.6013 28.6882 23.6743 29.8725 29.762C31.0567 23.6367 35.2969 18.6013 41.0652 16.1211C42.173 15.6326 44.9998 14.881 44.9998 14.881C44.9998 14.881 42.2112 14.1294 41.0652 13.6409Z" />
<path d="M17.1903 26.4929C13.7523 25.0274 11.2693 22.0211 10.5435 18.4136C9.85588 22.0211 7.33466 25.0274 3.89663 26.4929C3.24722 26.7935 1.56641 27.2069 1.56641 27.2069C1.56641 27.2069 3.20902 27.6578 3.89663 27.9209C7.33466 29.3864 9.81768 32.3927 10.5435 36.0002C11.2693 32.4303 13.7523 29.424 17.1903 27.9585C17.8398 27.6578 19.5206 27.2445 19.5206 27.2445C19.5206 27.2445 17.8398 26.7935 17.1903 26.4929Z" />
<path d="M44.3893 27.2443C44.3893 28.1086 43.6635 28.785 42.823 28.785C41.9444 28.785 41.2568 28.071 41.2568 27.2443C41.2568 26.38 41.9826 25.7036 42.823 25.7036C43.6635 25.666 44.3893 26.38 44.3893 27.2443Z" />
<path d="M15.318 5.8244C15.318 6.6887 14.5922 7.36511 13.7518 7.36511C12.8732 7.36511 12.1855 6.65112 12.1855 5.8244C12.1855 4.9601 12.9114 4.28369 13.7518 4.28369C14.6304 4.28369 15.318 4.9601 15.318 5.8244Z" />
<path d="M1.56621 16.4218C2.43121 16.4218 3.13243 15.732 3.13243 14.881C3.13243 14.0301 2.43121 13.3403 1.56621 13.3403C0.701218 13.3403 0 14.0301 0 14.881C0 15.732 0.701218 16.4218 1.56621 16.4218Z" />
</svg>
</div>
<div class="about-section-title text-animation">
<h1>We provides a range of services related to <br>
<span>digital marketing, online presence, & technology.</span>
</h1>
</div>
<a class="circle-btn btn-hover two d-md-none d-flex" href="contact.html">
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z">
</path>
</svg> Get in <strong>Touch</strong>
<span></span>
</a>
</div>
</div>
<div class="about-img-area d-md-block d-none">
<div class="container-fluid p-0">
<div class="about-img-wrap">
<img src="/assets/img/innerpage/about-banner-img.jpg" alt>
<div class="button-area">
<div class="btn_wrapper">
<a class="circle-btn btn-hover two" href="contact.html">
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z">
</path>
</svg> Get in <strong>Touch</strong>
<span></span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="partner-area  pt-130 mb-130">
<div class="container-lg container-fluid">
<div class="row">
<div class="col-lg-12">
<div class="partner-wrap">
<div class="title1">
<h6>Our Trusted Partner</h6>
</div>
<div class="marquee light">
<div class="marquee__group">
<a href="#"><img src="/assets/img/home1/partner-01.png" alt></a>
<a href="#"><img src="/assets/img/home1/partner-02.png" alt></a>
<a href="#"><img src="/assets/img/home1/partner-03.png" alt></a>
<a href="#"><img src="/assets/img/home1/partner-04.png" alt></a>
<a href="#"><img src="/assets/img/home1/partner-05.png" alt></a>
<a href="#"><img src="/assets/img/home1/partner-06.png" alt></a>
</div>
<div aria-hidden="true" class="marquee__group">
<a href="#"><img src="/assets/img/home1/partner-01.png" alt></a>
<a href="#"><img src="/assets/img/home1/partner-02.png" alt></a>
<a href="#"><img src="/assets/img/home1/partner-03.png" alt></a>
<a href="#"><img src="/assets/img/home1/partner-04.png" alt></a>
<a href="#"><img src="/assets/img/home1/partner-05.png" alt></a>
<a href="#"><img src="/assets/img/home1/partner-06.png" alt></a>
</div>
</div>
<div class="marquee dark">
<div class="marquee__group">
<a href="#"><img src="/assets/img/home1/partner-light-01.png" alt></a>
<a href="#"><img src="/assets/img/home1/partner-light-02.png" alt></a>
<a href="#"><img src="/assets/img/home1/partner-light-03.png" alt></a>
<a href="#"><img src="/assets/img/home1/partner-light-04.png" alt></a>
<a href="#"><img src="/assets/img/home1/partner-light-05.png" alt></a>
<a href="#"><img src="/assets/img/home1/partner-light-06.png" alt></a>
</div>
<div aria-hidden="true" class="marquee__group">
<a href="#"><img src="/assets/img/home1/partner-light-01.png" alt></a>
<a href="#"><img src="/assets/img/home1/partner-light-02.png" alt></a>
<a href="#"><img src="/assets/img/home1/partner-light-03.png" alt></a>
<a href="#"><img src="/assets/img/home1/partner-light-04.png" alt></a>
<a href="#"><img src="/assets/img/home1/partner-light-05.png" alt></a>
<a href="#"><img src="/assets/img/home1/partner-light-06.png" alt></a>
</div>
</div>
<div class="title2 ">
<h6>Almost 20+ Partner we have</h6>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="home1-about-section">
<div class="container-lg container-fluid">
<div class="row g-4 mb-60">
<div class="col-lg-4">
<div class="sub-title two text-animation">
<h6>Who We Are
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
<path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z" />
</svg>
</h6>
</div>
</div>
<div class="col-lg-8">
<div class="section-title two text-animation">
<h2>Zmedios is a business that provides services related to online marketing.</h2>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-4 d-lg-flex d-none justify-content-end align-items-start">
<div class="about-left animet-images magnetic-item pt-30">
<img src="/assets/img/home1/about-left.jpg" alt>
</div>
</div>
<div class="col-lg-8">
<div class="row g-lg-4 gy-5 align-items-xl-center">
<div class="col-lg-5">
<div class="about-right-img animet-images magnetic-item">
<img src="/assets/img/home1/about-right.jpg" alt>
</div>
</div>
<div class="col-lg-7">
<div class="about-content text-animation">
<p>Digital agencies can vary in size and specialization. Some may focus on
specific
niches, such as healthcare or e-commerce, while others may offer a
comprehensive.</p>
<a href="about.html">About More
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
</svg>
</a>
<div class="signature-and-star text-animation">
<div class="signature">
<img src="/assets/img/home1/Signature.png" alt>
</div>
<div class="star">
<svg xmlns="http://www.w3.org/2000/svg" width="150" height="145" viewBox="0 0 150 145">
<g>
<path d="M150 60.2308H105.604L137.033 29.8498L119.011 12.5348L87.6923 42.9158V0H62.3077V42.9158L30.8791 12.5348L12.967 29.8498L44.3956 60.2308H0V84.7692H44.3956L12.967 115.044L30.8791 132.465L62.3077 102.084V145H87.6923V102.084L119.011 132.465L137.033 115.044L105.604 84.7692H150V60.2308Z" />
</g>
</svg>
</div>
</div>
</div>
</div>
</div>
<ul class="counter-wrap">
<li class="single-counter">
<div class="content">
<div class="number">
<h2 class="counter">70</h2>
<span>+</span>
</div>
<p>Professional Experts</p>
</div>
</li>
<li class="single-counter">
<div class="content">
<div class="number">
<h2 class="counter">20</h2>
<span>+</span>
</div>
<p>Projects Complete</p>
</div>
</li>
<li class="single-counter">
<div class="content">
<div class="number">
<h2 class="counter">16</h2>
<span>+</span>
</div>
<p>World-wide Clients</p>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="text-slider-section">
<div class="marquee">
<div class="marquee__group">
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg> DIGITAL PRODUCT
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>DIGITAL STUDIO
</span>
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg>BRANDING DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>EMAIL MARKETING
</span>
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg>BRANDING DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>EMAIL MARKETING
</span>
</div>
<div class="marquee__group">
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg> DIGITAL PRODUCT
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>DIGITAL STUDIO
</span>
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg>BRANDING DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>EMAIL MARKETING
</span>
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg>BRANDING DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<circle cx="8.5" cy="8.5" r="8" stroke="#1A1A1A" />
</svg>EMAIL MARKETING
</span>
</div>
</div>
</div>


<div class="home1-process-section pt-130 pb-130">
<div class="container-lg container-fluid">
<div class="row g-4 mb-60 ">
<div class="col-lg-4">
<div class="sub-title text-animation">
<h6>Our Solution Process
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
<path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z"></path>
</svg>
</h6>
</div>
</div>
<div class="col-lg-8">
<div class="section-title text-animation">
<h2>03 SETP WE HAVE<br>
<span>FOLLOWING.</span>
</h2>
<div class="dash-and-paragraph">
<div class="dash"></div>
<p>Offer a wide range of services to help businesses establish and enhance their
online
presence.</p>
</div>
</div>
</div>
</div>
<div class="row g-lg-4 gy-5">
<div class="col-lg-4 col-sm-6">
<div class="single-process">
<div class="step-and-dash">
<h6>Step-01 :</h6>
<span></span>
</div>
<div class="icon">
<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
<g>
<path d="M67.6527 16.0958C68.7855 14.6144 67.827 11.5646 65.5614 12.436C60.246 14.5273 54.7564 19.1456 51.1838 23.6767C47.4368 28.4693 46.7397 34.5689 48.4825 40.3199C51.0095 48.6851 58.4161 54.1748 65.5614 58.6188C68.8726 60.7101 71.8353 55.4818 68.6112 53.3905C63.383 50.1665 57.5448 46.071 54.9307 40.3199C52.9265 35.7888 52.9265 30.6477 56.2377 26.6394C59.5489 22.7182 64.4286 20.1041 67.6527 16.0958ZM1.42836 53.3905C-1.88286 55.3947 1.16694 60.6229 4.47816 58.6188C11.6234 54.1748 18.943 48.6851 21.5571 40.3199C23.2998 34.7432 22.6899 28.6435 19.1172 24.0253C15.6317 19.407 9.96781 14.6144 4.5653 12.5231C2.29973 11.6518 1.25408 14.7016 2.474 16.1829C5.61095 20.1041 10.3164 22.7182 13.6276 26.4651C17.1131 30.4734 17.2873 35.7017 15.196 40.4942C12.4948 46.071 6.56946 50.1665 1.42836 53.3905ZM53.3622 1.36957C50.1381 6.59781 46.0426 12.436 40.2916 15.0501C35.7604 17.0543 30.6193 17.0543 26.611 13.7431C22.6027 10.4319 19.9886 5.55216 15.9803 2.32808C14.5861 1.1953 11.5363 2.24094 12.4077 4.50651C14.499 9.82189 19.1172 15.3115 23.6484 18.8842C28.4409 22.6311 34.5405 23.3282 40.2916 21.5854C48.6568 19.0584 54.1464 11.6518 58.5904 4.50651C60.5946 1.1953 55.4535 -1.85451 53.3622 1.36957ZM58.5904 65.5898C54.1464 58.4445 48.6568 51.125 40.2916 48.5108C34.7148 46.7681 28.6152 47.3781 23.9969 50.9507C19.3786 54.4362 14.5861 60.1001 12.4948 65.5026C11.6234 67.7682 14.6732 68.8138 16.1546 67.5939C20.0757 64.457 22.6899 59.7516 26.4368 56.4403C30.4451 52.9548 35.6733 52.7806 40.4659 54.8719C46.2169 57.486 50.2252 63.3242 53.5365 68.5524C55.4535 71.8636 60.5946 68.901 58.5904 65.5898Z" />
</g>
</svg>
</div>
<div class="content">
<h3>Strategy</h3>
<p>Analyze the client's industry, competitors, and target audience</p>
<ul>
<li><i class="bi bi-plus"></i> Initial Consultation.</li>
<li><i class="bi bi-plus"></i> Market Research.</li>
<li><i class="bi bi-plus"></i> Strategic Planning.</li>
</ul>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6">
<div class="single-process">
<div class="step-and-dash">
<h6>Step-02 :</h6>
<span></span>
</div>
<div class="icon">
<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
<path d="M58.3331 63C58.3331 50.1144 47.8856 39.6669 35 39.6669C22.1144 39.6669 11.6669 50.1144 11.6669 63H7C7 47.537 19.537 35 35 35C50.463 35 63 47.537 63 63H58.3331ZM39.6669 7C39.6669 19.8856 50.1144 30.3338 63 30.3338V35C47.537 35 35 22.463 35 7H39.6669Z" />
<path d="M56 21C59.866 21 63 17.866 63 14C63 10.134 59.866 7 56 7C52.134 7 49 10.134 49 14C49 17.866 52.134 21 56 21Z" />
<path d="M35.0001 63.0007C40.1546 63.0007 44.3332 58.8221 44.3332 53.6676C44.3332 48.513 40.1546 44.3345 35.0001 44.3345C29.8456 44.3345 25.667 48.513 25.667 53.6676C25.667 58.8221 29.8456 63.0007 35.0001 63.0007Z" fill="#F5BEBE" />
<path d="M18.6669 30.3338C25.1104 30.3338 30.3338 25.1104 30.3338 18.6669C30.3338 12.2234 25.1104 7 18.6669 7C12.2234 7 7 12.2234 7 18.6669C7 25.1104 12.2234 30.3338 18.6669 30.3338Z" fill="#F5BEBE" />
</svg>
</div>
<div class="content">
<h3>Sketch & Design</h3>
<p>Define the user experience (UX) and user interface (UI) design.</p>
<ul>
<li><i class="bi bi-plus"></i> Wireframing</li>
<li><i class="bi bi-plus"></i> Design Mockups.</li>
<li><i class="bi bi-plus"></i> Implementation.</li>
</ul>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6">
<div class="single-process">
<div class="step-and-dash">
<h6>Step-03 :</h6>
</div>
<div class="icon">
<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
<path d="M60.9 25.69H44.31V9.1C44.31 7.91 45.22 7 46.41 7H60.9C62.09 7 63 7.91 63 9.1V23.59C63 24.71 62.09 25.69 60.9 25.69ZM44.31 44.31H25.69V27.79C25.69 26.6 26.6 25.69 27.79 25.69H44.38V44.31H44.31ZM23.59 63H9.1C7.91 63 7 62.09 7 60.9V46.41C7 45.22 7.91 44.31 9.1 44.31H25.69V60.9C25.69 62.09 24.71 63 23.59 63ZM9.1 7H22.54C23.73 7 24.29 8.4 23.45 9.24L9.24 23.45C8.4 24.29 7 23.66 7 22.54V9.1C7 7.91 7.91 7 9.1 7Z" />
<path d="M60.9001 63.0001H46.4101C45.2201 63.0001 44.3101 62.0901 44.3101 60.9001V44.3101H60.9001C62.0901 44.3101 63.0001 45.2201 63.0001 46.4101V60.9001C63.0001 62.0901 62.0901 63.0001 60.9001 63.0001Z" />
</svg>
</div>
<div class="content">
<h3>Development</h3>
<p>Implement coding, scripting, and programming as needed.</p>
<ul>
<li><i class="bi bi-plus"></i> Design Implementation.</li>
<li><i class="bi bi-plus"></i> Testing & Fixing.</li>
<li><i class="bi bi-plus"></i> Product Launch</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="testimonial-section mb-130">
<div class="vector-2 d-lg-flex d-none">
<svg width="388" height="483" viewBox="0 0 388 483" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M49.9996 415.484C49.9996 617.519 213.092 780.968 413.866 780.968C614.641 780.968 777.733 617.519 777.733 415.484C777.733 213.449 614.641 50 413.866 50C213.092 50 49.9996 213.449 49.9996 415.484Z" stroke-width="100" />
</svg>
</div>
<div class="container-lg container-fluid">
<div class="row g-4">
<div class="col-lg-4">
<div class="sub-title text-animation">
<h6>Client Feedback
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
<path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z"></path>
</svg>
</h6>
</div>
</div>
<div class="col-lg-8">
<div class="section-title text-animation">
<h2>Feedback plays <strong>a crucial role.</strong></h2>
<div class="dash-and-paragraph two">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 429 64">
<path d="M0.333333 3C0.333333 4.47276 1.52724 5.66667 3 5.66667C4.47276 5.66667 5.66667 4.47276 5.66667 3C5.66667 1.52724 4.47276 0.333333 3 0.333333C1.52724 0.333333 0.333333 1.52724 0.333333 3ZM427 3L427.271 3.42013L428.697 2.5H427V3ZM394.084 64L397.265 59.1819L391.502 58.836L394.084 64ZM3 3.5H427V2.5H3V3.5ZM426.729 2.57987C413.302 11.2438 396.485 27.4669 393.855 59.4675L394.852 59.5494C397.45 27.938 414.03 11.9643 427.271 3.42013L426.729 2.57987Z" />
</svg>
<p>Offer a wide range of services to help businesses establish.</p>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="swiper testimonial-slider">
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="row g-lg-4 gy-5">
<div class="col-lg-4">
<div class="author-img">
<img src="/assets/img/home1/testimonial-img-01.png" alt>
<div class="video-icon">
<div class="wrapper">
<div class="video-main">
<div class="promo-video">
<div class="waves-block">
<div class="waves wave-1"></div>
<div class="waves wave-2"></div>
<div class="waves wave-3"></div>
</div>
</div>
<a href="https://www.youtube.com/watch?v=u31qwQUeGuM" class="video video-player" data-lity><i class="bi bi-play-fill"></i></a>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-7">
<div class="testimonal-content">
<span>Great Agency!</span>
<p>By actively seeking, analyzing, and acting upon feedback, a
digital agency can continuously refine its processes,
enhance client satisfaction, and foster a culture of
continuous.</p>
<div class="author-area">
<div class="content">
<h6>Mr. Daniel Scoot</h6>
<span>Catch, CEO</span>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="row g-lg-4 gy-5">
<div class="col-lg-4">
<div class="author-img">
<img src="/assets/img/home1/testimonial-img-02.png" alt>
<div class="video-icon">
<div class="wrapper">
<div class="video-main">
<div class="promo-video">
<div class="waves-block">
<div class="waves wave-1"></div>
<div class="waves wave-2"></div>
<div class="waves wave-3"></div>
</div>
</div>
<a href="https://www.youtube.com/watch?v=u31qwQUeGuM" class="video video-player" data-lity><i class="bi bi-play-fill"></i></a>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-7">
<div class="testimonal-content">
<span>Great Agency!</span>
<p>The line's length and style can be changed to better fit your
document's general layout and style. Stars, dashes, or even
a graphical element are some other divider alternatives.</p>
<div class="author-area">
<div class="content">
<h6>Mr. Luke Julian</h6>
<span>Catch, CTO</span>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="row g-lg-4 gy-5">
<div class="col-lg-4">
<div class="author-img">
<img src="/assets/img/home1/testimonial-img-03.png" alt>
<div class="video-icon">
<div class="wrapper">
<div class="video-main">
<div class="promo-video">
<div class="waves-block">
<div class="waves wave-1"></div>
<div class="waves wave-2"></div>
<div class="waves wave-3"></div>
</div>
</div>
<a href="https://www.youtube.com/watch?v=u31qwQUeGuM" class="video video-player" data-lity><i class="bi bi-play-fill"></i></a>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-7">
<div class="testimonal-content">
<span>Great Agency!</span>
<p>A digital agency can constantly improve customer happiness,
continually improve processes, and cultivate a continuous
culture by aggressively soliciting, evaluating, and acting
upon feedback.</p>
<div class="author-area">
<div class="content">
<h6>Mark Luiz</h6>
<span>Catch, CEO</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-4"></div>
<div class="col-lg-7">
<div class="slider-btn-area">
<div class="franctional-pagi1"></div>
<span class="dash"></span>
<div class="slider-btn-group w-100">
<div class="slider-btn prev-1">
<svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 15 11">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0.416666 5.9668H15V4.7168H0.416666V5.9668Z" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M1.04115 4.7168C3.98115 4.7168 6.38281 7.3018 6.38281 10.0585V10.6835H5.13281V10.0585C5.13281 7.96596 3.26448 5.9668 1.04115 5.9668H0.416979V4.7168H1.04115Z" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M1.04115 5.96667C3.98115 5.96667 6.38281 3.38167 6.38281 0.625V0H5.13281V0.625C5.13281 2.71833 3.26448 4.71667 1.04115 4.71667H0.416979V5.96667H1.04115Z" />
</svg>
</div>
<div class="slider-btn next-1">
<svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 15 11">
<path fill-rule="evenodd" clip-rule="evenodd" d="M14.5833 5.9668H0V4.7168H14.5833V5.9668Z" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M13.9589 4.7168C11.0189 4.7168 8.61719 7.3018 8.61719 10.0585V10.6835H9.86719V10.0585C9.86719 7.96596 11.7355 5.9668 13.9589 5.9668H14.583V4.7168H13.9589Z" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M13.9589 5.96667C11.0189 5.96667 8.61719 3.38167 8.61719 0.625V0H9.86719V0.625C9.86719 2.71833 11.7355 4.71667 13.9589 4.71667H14.583V5.96667H13.9589Z" />
</svg>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="award-section mb-130">
<div class="container-lg container-fluid">
<div class="row mb-60">
<div class="col-lg-8">
<div class="section-title text-animation">
<h2>RECOGNITIONS<br>
& <span>AWARD</span>
</h2>
<div class="dash-and-paragraph text-animation">
<div class="dash"></div>
<p>Offer a wide range of services to help businesses establish and enhance their
online
presence.</p>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-4">
<ul class="award-img-group text-animation">
<li class="active">
<div class="award-img">
<img src="/assets/img/home1/award-img-01.jpg" alt>
</div>
</li>
<li>
<div class="award-img">
<img src="/assets/img/home1/award-img-02.jpg" alt>
</div>
</li>
<li>
<div class="award-img">
<img src="/assets/img/home1/award-img-03.jpg" alt>
</div>
</li>
<li>
<div class="award-img">
<img src="/assets/img/home1/award-img-04.jpg" alt>
</div>
</li>
<li>
<div class="award-img">
<img src="/assets/img/home1/award-img-05.jpg" alt>
</div>
</li>
<li>
<div class="award-img">
<img src="/assets/img/home1/award-img-06.jpg" alt>
</div>
</li>
</ul>
</div>
<div class="col-lg-8">
<table class="award-table">
<thead>
<tr>
<th>Award.</th>
<th>Platform</th>
<th>Year</th>
</tr>
</thead>
<tbody>
<tr>
<td data-label="Award">
<a href="#">Digital Innovation
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
</svg>
</a>
</td>
<td data-label="Platform">Digigo Platform</td>
<td data-label="Year">2023</td>
</tr>
<tr>
<td data-label="Award">
<a href="#">InnovateXcel Award
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
</svg>
</a>
</td>
<td data-label="Platform">Microsoft Platform</td>
<td data-label="Year">2023</td>
</tr>
<tr>
<td data-label="Award">
<a href="#">Digital Vanguard
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
</svg>
</a>
</td>
<td data-label="Platform">Adobe Platform</td>
<td data-label="Year">2022</td>
</tr>
<tr>
<td data-label="Award">
<a href="#">Mastermind
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
</svg>
</a>
</td>
<td data-label="Platform">Behance Platform</td>
<td data-label="Year">2021</td>
</tr>
<tr>
<td data-label="Award">
<a href="#">Digital Dynamo
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
</svg>
</a>
</td>
<td data-label="Platform">Linkedin Platform</td>
<td data-label="Year">2020</td>
</tr>
<tr>
<td data-label="Award">
<a href="#">TechTrailblazer
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
</svg>
</a>
</td>
<td data-label="Platform">Digigo Platform</td>
<td data-label="Year">2019</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>


<div class="contact-section three">
<div class="container-lg container-fluid">
<div class="row g-lg-4 gy-5">
<div class="col-lg-8">
<div class="section-title text-animation">
<h2>Let’s <span>TALK</span></h2>
<div class="dash-and-paragraph">
<div class="dash"></div>
<div class="content-and-social">
<p>Crafting a contact text for a digital agency involves providing essential
information for potential clients or collaborators to reach out.</p>
<div class="social-area">
<h6>Connect Us</h6>
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
<path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z" />
</svg>
<ul>
<li><a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a>
</li>
<li><a href="https://twitter.com/"><i class="bi bi-twitter-x"></i></a></li>
<li><a href="https://www.linkedin.com/"><i class="bx bxl-linkedin"></i></a>
</li>
<li><a href="https://www.instagram.com/"><i class="bx bxl-instagram-alt"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 d-lg-flex justify-content-end align-items-center">
<div class="btn_wrapper">
<a class="circle-btn btn-hover two" href="contact.html">
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z">
</path>
</svg> Contact <strong>Now</strong>
<span></span>
</a>
</div>
</div>
</div>
</div>
</div>

<%- include('footer') %>


</main>

<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/assets/js/jquery-3.7.1.min.js"></script>

<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<script src="/assets/js/swiper-bundle.min.js"></script>
<script src="/assets/js/slick.min.js"></script>

<script src="/assets/js/waypoints.min.js"></script>

<script src="/assets/js/jquery.counterup.min.js"></script>

<script src="/assets/js/jquery.nice-select.min.js"></script>

<script src="/assets/js/jquery.fancybox.min.js"></script>

<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>

<script src="/assets/js/gsap.min.js"></script>
<script src="/assets/js/ScrollTrigger.min.js"></script>
<script src="/assets/js/SmoothScroll.js"></script>
<script src="/assets/js/simpleParallax.min.js"></script>
<script src="/assets/js/TweenMax.min.js"></script>
<script src="/assets/js/SplitText.min.js"></script>

<script src="/assets/js/jquery.marquee.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>