<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="assets/css/bootstrap.min.css" rel="stylesheet">

<link href="assets/css/bootstrap-icons.css" rel="stylesheet">

<link rel="stylesheet" href="assets/css/swiper-bundle.min.css">

<link rel="stylesheet" href="assets/css/nice-select.css">

<link rel="stylesheet" href="assets/css/animate.min.css">
<link rel="stylesheet" href="assets/css/jquery.fancybox.min.css">

<link href="assets/css/boxicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="assets/css/style.css">

<title>Zmedios - Get Hired</title>
<link rel="icon" href="assets/img/sm-logo.svg" type="image/gif" sizes="20x20">

<style>
    .breadcrumb-section .banner-wrapper{
        padding: 85px 0px 100px;
    }
   
</style>
</head>
<body id="body" class="tt-smooth-scroll tt-magic-cursor">
<%- include('header') %>
<div class="breadcrumb-section style-1" style="background-image:linear-gradient(rgba(248, 248, 248, 0.5), rgba(248, 248, 248, 0.5)), url(assets/img/innerpage/breadcrumb-bg6.jpg);">
<svg class="vector" xmlns="http://www.w3.org/2000/svg" width="300" height="374" viewBox="0 0 300 374" fill="none">
<path d="M49.999 359.57C49.999 530.694 188.228 669.14 358.399 669.14C528.57 669.14 666.799 530.694 666.799 359.57C666.799 188.445 528.57 50 358.399 50C188.228 50 49.999 188.445 49.999 359.57Z" stroke-width="100" />
</svg>
<div class="container-lg container-fluid">
<div class="banner-wrapper">
<div class="banner-content">
<div class="row align-items-center gy-5">
<div class="col-lg-7">
<div class="section-title">
<h1>We Have <span>Intresting Projects</span></h1>
</div>
<div class="dash-and-paragraph">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 338 44">
<path d="M0.333333 3C0.333333 4.47276 1.52724 5.66667 3 5.66667C4.47276 5.66667 5.66667 4.47276 5.66667 3C5.66667 1.52724 4.47276 0.333333 3 0.333333C1.52724 0.333333 0.333333 1.52724 0.333333 3ZM337.001 3L337.163 3.47297C337.394 3.3937 337.534 3.15889 337.494 2.9178C337.454 2.67671 337.245 2.5 337.001 2.5V3ZM324.001 44L324.222 38.2307L319.115 40.924L324.001 44ZM3 3.5H337.001V2.5H3V3.5ZM336.839 2.52703C328.657 5.33201 323.03 10.8388 320.343 17.6231C317.657 24.4031 317.923 32.4183 321.444 40.223L322.356 39.8117C318.933 32.2249 318.697 24.4919 321.272 17.9914C323.846 11.4951 329.241 6.18899 337.163 3.47297L336.839 2.52703Z" />
</svg>
<p>Advance your career with us.






</p>
</div>
</div>
<div class="col-lg-5 d-flex justify-content-xxl-center">
<a class="circle-btn btn-hover" href="/contact">
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z">
</path>
</svg> Contact <br> Us
<span></span>
</a>
</div>
</div>
</div>
<ul class="breadcrumb-list">
<li><a href="https://demo-egenslab.b-cdn.net/">Home</a></li>
<li>Get Hired</li>
</ul>
</div>
</div>
</div>


<div class="testimonial-section mb-60" style=" position: static;">
    <div class="vector-2 d-lg-flex d-none">
    <svg width="388" height="483" viewBox="0 0 388 483" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M49.9996 415.484C49.9996 617.519 213.092 780.968 413.866 780.968C614.641 780.968 777.733 617.519 777.733 415.484C777.733 213.449 614.641 50 413.866 50C213.092 50 49.9996 213.449 49.9996 415.484Z" stroke-width="100"></path>
    </svg>
    </div>
    <div class="container-lg container-fluid">
    <div class="row g-4">
    <div class="col-lg-4">
    <div class="sub-title text-animation" style="perspective: 400px;"><div style="display: block; text-align: start; position: relative; translate: none; rotate: none; scale: none; transform-origin: 207.994px 9.6px; transform: translate3d(0px, 0px, 0px); opacity: 1;"><h6>Join Us<svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
    <path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z"></path>
    </svg>
    </h6></div></div>
    </div>
    <div class="col-lg-8">
    <div class="section-title text-animation" style="perspective: 400px;"><div style="display: block; text-align: start; position: relative; translate: none; rotate: none; scale: none; transform-origin: 427.994px 60.75px; transform: translate3d(0px, 0px, 0px); opacity: 1;"><h2>Apply now and start your journey with us!






    </h2></div><div style="display: block; text-align: start; position: relative; translate: none; rotate: none; scale: none; transform-origin: 427.994px 38.225px; transform: translate3d(0px, 0px, 0px); opacity: 1;"><div class="dash-and-paragraph two">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 429 64">
    <path d="M0.333333 3C0.333333 4.47276 1.52724 5.66667 3 5.66667C4.47276 5.66667 5.66667 4.47276 5.66667 3C5.66667 1.52724 4.47276 0.333333 3 0.333333C1.52724 0.333333 0.333333 1.52724 0.333333 3ZM427 3L427.271 3.42013L428.697 2.5H427V3ZM394.084 64L397.265 59.1819L391.502 58.836L394.084 64ZM3 3.5H427V2.5H3V3.5ZM426.729 2.57987C413.302 11.2438 396.485 27.4669 393.855 59.4675L394.852 59.5494C397.45 27.938 414.03 11.9643 427.271 3.42013L426.729 2.57987Z"></path>
    </svg>
    <!-- <p style="perspective: 400px;"><div style="display: block; text-align: start; position: relative; translate: none; rotate: none; scale: none; transform-origin: 212px 13px; transform: translate3d(0px, 0px, 0px); opacity: 1;">We Have The Solutions To All Your Buisness Problems.</div></p> -->
    </div></div></div>
    </div>
    </div>
    <style>
        .review-img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            border: 6px solid #F76532;
        }
    </style>
    <div class="contact-page">
        <div class=" contact-info-wrap" style="background-color: 1a1a1a !important; color: #F76532;">
            <div class="row gy-5 justify-content-between align-items-center">
           
            <div class="col-xl-12" id="letstalk">
            <div class="contact-form-wrap">
            <form id="helpform" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="row">
            
            <div class="col-md-6">
            <div class="form-inner mb-30">
            <label>Your Name*</label>
            <input type="text" name="name" placeholder="John Satin" required="">
            </div>
            </div>
            <div class="col-md-6">
                <div class="form-inner mb-30">
                <label>Your Email*</label>
                <input type="email" name="email" placeholder="john@gmail.com" required="">
                </div>
                </div>
                <div class="col-md-6">
                    <div class="form-inner mb-30">
                    <label>Your Phone*</label>
                    <input type="text" name="phone" placeholder="98xxx89076" required="">
                    </div>
                    </div>
            <div class="col-md-6">
                <div class="form-inner">
                <label>Job Title*</label>
                <select class=" nice-select form-select" name="jobTitle" id="" required="" style="display: none;">
                    <option value="fullstack">Fullstack Developer</option>
                    <option value="android">Android Developer</option>
                    <option value="ui/ux">UI/UX Designer</option>
                    <option value="graphic">Graphics Designer</option>
                    <option value="other">Other</option>
                    
                </select>
                <!-- <div class="nice-select form-select" tabindex="0"><span class="current">1 Month</span><ul class="list"><li data-value="1month" class="option selected">1 Month</li><li data-value="3months" class="option">3 Month</li><li data-value="6months" class="option">6 Month</li><li data-value="1year" class="option">1 Year</li><li data-value="Fulltime" class="option">Fulltime</li></ul></div>   -->
                </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-inner mb-20">
                        <label>Years of Experience*</label>
                        <input type="number" name="hourly" placeholder="12$" required="">
                        </div>
                    <div class="form-inner mb-30">
                    <label>Hourly Rate in $*</label>
                    <input type="number" name="hourly" placeholder="12$" required="">
                    </div>
                </div>
    
       
    
            <div class="col-md-6">
            <div class="form-inner mb-30 ">
            <label>Summary</label>
            <textarea name="message" placeholder="your Summary"></textarea>
            </div>
            </div>
        
            </div>
            <div class="form-inner">
            <button id="submitbtn" class=" btn primary-btn3 btn-hover" type="submit">
            Submit Now
            <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z">
            </path>
            </svg>
            <span></span>
            </button>
            </div>
            </form>
            </div>
            </div>
            </div>
            </div>
    </div>
    
    </div>
    </div>


<div class="contact-section mb-130" >
    <div class="container-lg container-fluid">
    <div class="row g-lg-4 gy-5">
    <div class="col-lg-8">
    <div class="section-title text-animation">
    <h2>Let’s <span>TALK</span></h2>
    <div class="dash-and-paragraph">
    <div class="dash"></div>
    <div class="content-and-social">
    <p>Ready to elevate your digital strategy? Reach out to the Zmedios team to
        start your transformation.</p>
    <div class="social-area">
    <h6>Connect Us</h6>
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
    <path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z" />
    </svg>
    <ul>
    <li><a href="https://hi-in.facebook.com/zmediostechnology/"><i class="bx bxl-facebook"></i></a>
    </li>
    <li><a href="https://www.youtube.com/channel/UCjTawyrg0i7aJXnoBbZ92TQ"><i class="bi bi-youtube"></i></a></li>
    <li><a href="https://wa.me/91-9340609004"><i class="bi bi-whatsapp"></i></a>
    </li>
    <li><a href="https://www.instagram.com/zmedios_technology_pvt_ltd_?igsh=MTNoeWtkMHlrejdseA=="><i class="bx bxl-instagram-alt"></i></a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-4 d-lg-flex justify-content-end align-items-center">
    <div class="btn_wrapper">
    <a class="circle-btn btn-hover" href="/contact">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
    <path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z">
    </path>
    </svg> Contact <strong>Now</strong>
    <span></span>
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>


<%- include('footer') %>



<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>

<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<script src="/assets/js/swiper-bundle.min.js"></script>
<script src="/assets/js/slick.min.js"></script>

<script src="/assets/js/waypoints.min.js"></script>

<script src="/assets/js/jquery.counterup.min.js"></script>

<script src="/assets/js/jquery.nice-select.min.js"></script>

<script src="/assets/js/jquery.fancybox.min.js"></script>

<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>

<script src="/assets/js/gsap.min.js"></script>
<script src="/assets/js/ScrollTrigger.min.js"></script>
<script src="/assets/js/SmoothScroll.js"></script>
<script src="/assets/js/simpleParallax.min.js"></script>
<script src="/assets/js/TweenMax.min.js"></script>
<script src="/assets/js/SplitText.min.js"></script>

<script src="/assets/js/jquery.marquee.min.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>