<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="assets/css/bootstrap.min.css" rel="stylesheet">

<link href="assets/css/bootstrap-icons.css" rel="stylesheet">

<link rel="stylesheet" href="assets/css/swiper-bundle.min.css">

<link rel="stylesheet" href="assets/css/nice-select.css">

<link rel="stylesheet" href="assets/css/animate.min.css">
<link rel="stylesheet" href="assets/css/jquery.fancybox.min.css">

<link href="assets/css/boxicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="assets/css/style.css">

<title>Zmedios - Hire Developer</title>
<link rel="icon" href="assets/img/sm-logo.svg" type="image/gif" sizes="20x20">

<style>
    .breadcrumb-section .banner-wrapper{
        padding: 85px 0px 100px;
    }
</style>
</head>
<body id="body" class="tt-smooth-scroll tt-magic-cursor">
<%- include('header') %>
<div class="breadcrumb-section style-1" style="background-image:linear-gradient(rgba(248, 248, 248, 0.5), rgba(248, 248, 248, 0.5)), url(assets/img/innerpage/breadcrumb-bg6.jpg);">
<svg class="vector" xmlns="http://www.w3.org/2000/svg" width="300" height="374" viewBox="0 0 300 374" fill="none">
<path d="M49.999 359.57C49.999 530.694 188.228 669.14 358.399 669.14C528.57 669.14 666.799 530.694 666.799 359.57C666.799 188.445 528.57 50 358.399 50C188.228 50 49.999 188.445 49.999 359.57Z" stroke-width="100" />
</svg>
<div class="container-lg container-fluid">
<div class="banner-wrapper">
<div class="banner-content">
<div class="row align-items-center gy-5">
<div class="col-lg-7">
<div class="section-title">
<h1>We Have <span>Dynamic Developers.</span></h1>
</div>
<div class="dash-and-paragraph">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 338 44">
<path d="M0.333333 3C0.333333 4.47276 1.52724 5.66667 3 5.66667C4.47276 5.66667 5.66667 4.47276 5.66667 3C5.66667 1.52724 4.47276 0.333333 3 0.333333C1.52724 0.333333 0.333333 1.52724 0.333333 3ZM337.001 3L337.163 3.47297C337.394 3.3937 337.534 3.15889 337.494 2.9178C337.454 2.67671 337.245 2.5 337.001 2.5V3ZM324.001 44L324.222 38.2307L319.115 40.924L324.001 44ZM3 3.5H337.001V2.5H3V3.5ZM336.839 2.52703C328.657 5.33201 323.03 10.8388 320.343 17.6231C317.657 24.4031 317.923 32.4183 321.444 40.223L322.356 39.8117C318.933 32.2249 318.697 24.4919 321.272 17.9914C323.846 11.4951 329.241 6.18899 337.163 3.47297L336.839 2.52703Z" />
</svg>
<p>Offer a wide range of services to help businesses grow.</p>
</div>
</div>
<div class="col-lg-5 d-flex justify-content-xxl-center">
<a class="circle-btn btn-hover" href="/get-hired">
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z">
</path>
</svg> Join Our <br> Team
<span></span>
</a>
</div>
</div>
</div>
<ul class="breadcrumb-list">
<li><a href="https://demo-egenslab.b-cdn.net/">Home</a></li>
<li>Hire Developer</li>
</ul>
</div>
</div>
</div>


<div class="team-card-section pt-130 mb-130">
<div class="container-lg container-fluid">
<div class="row gy-5">
<div class="col-xl-3 col-md-4 col-sm-6">
<div class="team-card-1">
<div class="team-img magnetic-item">
<img src="assets/img/innerpage/team-img1.png" alt>
<ul class="social-area">
<li><a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a></li>
<li><a href="https://twitter.com/"><i class="bi bi-twitter-x"></i></a></li>
<li><a href="https://www.linkedin.com/"><i class="bx bxl-linkedin"></i></a></li>
</ul>
</div>
<div class="team-content text-center">
<h6>Jorche Milton</h6>
<span>Webdeveloper, 5 Years</span>
</div>
</div>
</div>
<div class="col-xl-3 col-md-4 col-sm-6">
<div class="team-card-1">
<div class="team-img magnetic-item">
<img src="assets/img/innerpage/team-img2.png" alt>
<ul class="social-area">
<li><a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a></li>
<li><a href="https://twitter.com/"><i class="bi bi-twitter-x"></i></a></li>
<li><a href="https://www.linkedin.com/"><i class="bx bxl-linkedin"></i></a></li>
</ul>
</div>
<div class="team-content text-center">
<h6>Robert Jhonson</h6>
<span>Android Developer, 3 Years</span>
</div>
</div>
</div>
<div class="col-xl-3 col-md-4 col-sm-6">
<div class="team-card-1">
<div class="team-img magnetic-item">
<img src="assets/img/innerpage/team-img3.png" alt>
<ul class="social-area">
<li><a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a></li>
<li><a href="https://twitter.com/"><i class="bi bi-twitter-x"></i></a></li>
<li><a href="https://www.linkedin.com/"><i class="bx bxl-linkedin"></i></a></li>
</ul>
</div>
<div class="team-content text-center">
<h6>Mrs. Emily Sophia</h6>
<span>Sr. Digital Marketer</span>
</div>
</div>
</div>
<div class="col-xl-3 col-md-4 col-sm-6">
<div class="team-card-1">
<div class="team-img magnetic-item">
<img src="assets/img/innerpage/team-img4.png" alt>
<ul class="social-area">
<li><a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a></li>
<li><a href="https://twitter.com/"><i class="bi bi-twitter-x"></i></a></li>
<li><a href="https://www.linkedin.com/"><i class="bx bxl-linkedin"></i></a></li>
</ul>
</div>
<div class="team-content text-center">
<h6>Benjamin Lucas</h6>
<span>Web Developer</span>
</div>
</div>
</div>
<div class="col-xl-3 col-md-4 col-sm-6">
<div class="team-card-1">
<div class="team-img magnetic-item">
<img src="assets/img/innerpage/team-img5.png" alt>
<ul class="social-area">
<li><a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a></li>
<li><a href="https://twitter.com/"><i class="bi bi-twitter-x"></i></a></li>
<li><a href="https://www.linkedin.com/"><i class="bx bxl-linkedin"></i></a></li>
</ul>
</div>
<div class="team-content text-center">
<h6>Mr. Daniel Scoot</h6>
<span>Sr. Digital Marketer</span>
</div>
</div>
</div>
<div class="col-xl-3 col-md-4 col-sm-6">
<div class="team-card-1">
<div class="team-img magnetic-item">
<img src="assets/img/innerpage/team-img6.png" alt>
<ul class="social-area">
<li><a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a></li>
<li><a href="https://twitter.com/"><i class="bi bi-twitter-x"></i></a></li>
<li><a href="https://www.linkedin.com/"><i class="bx bxl-linkedin"></i></a></li>
</ul>
</div>
<div class="team-content text-center">
<h6>Grace Lily</h6>
<span>Social Media Manager</span>
</div>
</div>
</div>
<div class="col-xl-3 col-md-4 col-sm-6">
<div class="team-card-1">
<div class="team-img magnetic-item">
<img src="assets/img/innerpage/team-img7.png" alt>
<ul class="social-area">
<li><a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a></li>
<li><a href="https://twitter.com/"><i class="bi bi-twitter-x"></i></a></li>
<li><a href="https://www.linkedin.com/"><i class="bx bxl-linkedin"></i></a></li>
</ul>
</div>
<div class="team-content text-center">
<h6>Ava Sophia</h6>
<span>UI/UX Designer</span>
</div>
</div>
</div>
<div class="col-xl-3 col-md-4 col-sm-6">
<div class="team-card-1">
<div class="team-img magnetic-item">
<img src="assets/img/innerpage/team-img8.png" alt>
<ul class="social-area">
<li><a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a></li>
<li><a href="https://twitter.com/"><i class="bi bi-twitter-x"></i></a></li>
<li><a href="https://www.linkedin.com/"><i class="bx bxl-linkedin"></i></a></li>
</ul>
</div>
<div class="team-content text-center">
<h6>William Samuel</h6>
<span>Digital Marketer</span>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="contact-section mb-130" >
    <div class="container-lg container-fluid">
    <div class="row g-lg-4 gy-5">
    <div class="col-lg-8">
    <div class="section-title text-animation">
    <h2>Let’s <span>TALK</span></h2>
    <div class="dash-and-paragraph">
    <div class="dash"></div>
    <div class="content-and-social">
    <p>Ready to elevate your digital strategy? Reach out to the Zmedios team to
        start your transformation.</p>
    <div class="social-area">
    <h6>Connect Us</h6>
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
    <path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z" />
    </svg>
    <ul>
    <li><a href="https://hi-in.facebook.com/zmediostechnology/"><i class="bx bxl-facebook"></i></a>
    </li>
    <li><a href="https://www.youtube.com/channel/UCjTawyrg0i7aJXnoBbZ92TQ"><i class="bi bi-youtube"></i></a></li>
    <li><a href="https://wa.me/91-9340609004"><i class="bi bi-whatsapp"></i></a>
    </li>
    <li><a href="https://www.instagram.com/zmedios_technology_pvt_ltd_?igsh=MTNoeWtkMHlrejdseA=="><i class="bx bxl-instagram-alt"></i></a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-4 d-lg-flex justify-content-end align-items-center">
    <div class="btn_wrapper">
    <a class="circle-btn btn-hover" href="/contact">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
    <path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z">
    </path>
    </svg> Contact <strong>Now</strong>
    <span></span>
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>


<%- include('footer') %>



<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>

<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<script src="/assets/js/swiper-bundle.min.js"></script>
<script src="/assets/js/slick.min.js"></script>

<script src="/assets/js/waypoints.min.js"></script>

<script src="/assets/js/jquery.counterup.min.js"></script>

<script src="/assets/js/jquery.nice-select.min.js"></script>

<script src="/assets/js/jquery.fancybox.min.js"></script>

<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>

<script src="/assets/js/gsap.min.js"></script>
<script src="/assets/js/ScrollTrigger.min.js"></script>
<script src="/assets/js/SmoothScroll.js"></script>
<script src="/assets/js/simpleParallax.min.js"></script>
<script src="/assets/js/TweenMax.min.js"></script>
<script src="/assets/js/SplitText.min.js"></script>

<script src="/assets/js/jquery.marquee.min.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>