<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/assets/css/bootstrap.min.css" rel="stylesheet">

<link href="/assets/css/bootstrap-icons.css" rel="stylesheet">

<link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">

<link rel="stylesheet" href="/assets/css/nice-select.css">

<link rel="stylesheet" href="/assets/css/animate.min.css">
<link rel="stylesheet" href="/assets/css/jquery.fancybox.min.css">

<link href="/assets/css/boxicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/style.css">

<title>Zmedios | Home</title>
<link rel="icon" href="/assets/img/sm-logo.svg" type="image/gif" sizes="20x20">
</head>
<body id="body" class=" tt-magic-cursor home1-bg">



<%- include('header') %>

<main class="page-content">

<div class="line_wrap">
<div class="line_item first-line"></div>
<div class="line_item center-line"></div>
<div class="line_item last-line"></div>
</div>


<div class="home1-banner-area">
<div class="container-lg container-fluid">
<div class="row">
<div class="col-lg-12">
<div class="banner-main-title">
<!-- <h6 class="text-animation">Hey There! We are
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
<path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z" />
</svg> -->
<svg class="star" xmlns="http://www.w3.org/2000/svg" width="45" height="36" viewBox="0 0 45 36">
<path d="M41.0654 13.6409C35.2972 11.1608 31.0569 6.12526 29.8727 0C28.6885 6.12526 24.4483 11.1608 18.68 13.6409C17.5722 14.1294 14.7454 14.881 14.7454 14.881C14.7454 14.881 17.534 15.6326 18.68 16.1211C24.4483 18.6013 28.6885 23.6743 29.8727 29.762C31.0569 23.6367 35.2972 18.6013 41.0654 16.1211C42.1732 15.6326 45 14.881 45 14.881C45 14.881 42.2114 14.1294 41.0654 13.6409Z" />
<path d="M17.1903 26.4927C13.7523 25.0271 11.2693 22.0209 10.5435 18.4134C9.85588 22.0209 7.33466 25.0271 3.89663 26.4927C3.24722 26.7933 1.56641 27.2067 1.56641 27.2067C1.56641 27.2067 3.20902 27.6576 3.89663 27.9207C7.33466 29.3862 9.81768 32.3925 10.5435 36C11.2693 32.4301 13.7523 29.4238 17.1903 27.9582C17.8398 27.6576 19.5206 27.2443 19.5206 27.2443C19.5206 27.2443 17.8398 26.7933 17.1903 26.4927Z" />
<path d="M44.3888 27.2443C44.3888 28.1086 43.663 28.785 42.8226 28.785C41.944 28.785 41.2563 28.071 41.2563 27.2443C41.2563 26.38 41.9822 25.7036 42.8226 25.7036C43.663 25.666 44.3888 26.38 44.3888 27.2443Z" />
<path d="M15.3185 5.82463C15.3185 6.68893 14.5927 7.36534 13.7522 7.36534C12.8736 7.36534 12.186 6.65135 12.186 5.82463C12.186 4.96033 12.9118 4.28392 13.7522 4.28392C14.6309 4.28392 15.3185 4.96033 15.3185 5.82463Z" />
<path d="M1.56621 16.4217C2.43121 16.4217 3.13243 15.7319 3.13243 14.881C3.13243 14.0301 2.43121 13.3403 1.56621 13.3403C0.701218 13.3403 0 14.0301 0 14.881C0 15.7319 0.701218 16.4217 1.56621 16.4217Z" />
</svg>
</h6>
<h1 class="text-animation" style="text-transform: capitalize;"><span>HIRE </span>top-tier <i style="font-style: normal; color: #F76532;">software developers</i></h1>
</div>
</div>
</div>
</div>
<div class="container-fluid">
<div class="banner-bottom">
<div class="row">
<div class="col-lg-7 d-lg-flex d-none">
<div class="banner-img magnetic-item">
<img src="/assets/img/home1/banner-img.jpg" alt>
</div>
</div>
<div class="col-lg-5">
<div class="banner-right-content">
<div class="content">
<p class="mt-60">We are a business at the forefront of digital innovation, offering comprehensive services in <span> online marketing, web development, design, and bespoke digital solutions </span> to elevate our clients' presence in the digital realm.
</p>
<ul class="btn-group">
<li class="success-rate">Success Rate <span>90%</span>
</li>
<li class="success-rate">Clients satisfaction <span>100%</span>
</li>
</ul>
</div>
<div class="banner-btn btn_wrapper">
<a class="btn-hover" href="/about">
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
</svg> Explore <br> Now
<span></span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="partner-area pt-130 mb-130">
<div class="container-lg container-fluid">
<div class="row">
<div class="col-lg-12">
<div class="partner-wrap">
<div class="title1">
<h6>Our Trusted Partner</h6>
</div>
<div class="marquee light">
    <div class="marquee__group">
        
        <a href="#"><img src="/assets/img/clients/carritos.png" alt="carritos"></a>
        <a href="#"><img style="border-radius: 50%;" src="/assets/img/clients/railtel.png" alt="railtel"></a>
        <a href="#"><img src="/assets/img/clients/coalgiene.png" alt="coalgene"></a>
        <a href="#"><img src="/assets/img/clients/dancewala.png" alt="dancewala"></a>
        <a href="#"><img src="/assets/img/clients/discovery.png" alt="discovery"></a>
        <a href="#"><img src="/assets/img/clients/furniture.png" alt="furniture"></a>
        
        <a href="#"><img src="/assets/img/clients/intech.png" alt="intech"></a>
        <a href="#"><img src="/assets/img/clients/jindal.png" alt="jindal"></a>
        <a href="#"><img src="/assets/img/clients/kazuki.png" alt="kazuki"></a>
        <a href="#"><img src="/assets/img/clients/logo1.png" alt="logo1"></a>
        <a href="#"><img src="/assets/img/clients/logo2.png" alt="logo2"></a>
        <a href="#"><img src="/assets/img/clients/logo3.png" alt="logo3"></a>
        <a href="#"><img src="/assets/img/clients/logo4.png" alt="logo4"></a>
        <a href="#"><img src="/assets/img/clients/logo5.png" alt="logo5"></a>
        <a href="#"><img src="/assets/img/clients/logo7.png" alt="logo7"></a>
        <a href="#"><img src="/assets/img/clients/logo8.png" alt="logo8"></a>
        <a href="#"><img src="/assets/img/clients/logo9.png" alt="logo9"></a>
        <a href="#"><img src="/assets/img/clients/logo10.png" alt="logo10"></a>
        <a href="#"><img src="/assets/img/clients/logo11.png" alt="logo11"></a>
        <a href="#"><img src="/assets/img/clients/lords.png" alt="lords"></a>
        <a href="#"><img src="/assets/img/clients/nestohub.png" alt="nestohub"></a>
        <a href="#"><img src="/assets/img/clients/peptone.png" alt="peptone"></a>
        <a href="#"><img src="/assets/img/clients/ripik.png" alt="ripik"></a>
    </div>
    <div aria-hidden="true" class="marquee__group">
        <a href="#"><img src="/assets/img/clients/carritos.png" alt="carritos"></a>
        <a href="#"><img src="/assets/img/clients/coalgiene.png" alt="coalgene"></a>
        <a href="#"><img src="/assets/img/clients/dancewala.png" alt="dancewala"></a>
        <a href="#"><img src="/assets/img/clients/discovery.png" alt="discovery"></a>
        <a href="#"><img src="/assets/img/clients/furniture.png" alt="furniture"></a>
        
        <a href="#"><img src="/assets/img/clients/intech.png" alt="intech"></a>
        <a href="#"><img src="/assets/img/clients/jindal.png" alt="jindal"></a>
        <a href="#"><img src="/assets/img/clients/kazuki.png" alt="kazuki"></a>
        <a href="#"><img src="/assets/img/clients/logo1.png" alt="logo1"></a>
        <a href="#"><img src="/assets/img/clients/logo2.png" alt="logo2"></a>
        <a href="#"><img src="/assets/img/clients/logo3.png" alt="logo3"></a>
        <a href="#"><img src="/assets/img/clients/logo4.png" alt="logo4"></a>
        <a href="#"><img src="/assets/img/clients/logo5.png" alt="logo5"></a>
        <a href="#"><img src="/assets/img/clients/logo7.png" alt="logo7"></a>
        <a href="#"><img src="/assets/img/clients/logo8.png" alt="logo8"></a>
        <a href="#"><img src="/assets/img/clients/logo9.png" alt="logo9"></a>
        <a href="#"><img src="/assets/img/clients/logo10.png" alt="logo10"></a>
        <a href="#"><img src="/assets/img/clients/logo11.png" alt="logo11"></a>
        <a href="#"><img src="/assets/img/clients/lords.png" alt="lords"></a>
        <a href="#"><img src="/assets/img/clients/nestohub.png" alt="nestohub"></a>
        <a href="#"><img src="/assets/img/clients/peptone.png" alt="peptone"></a>
        <a href="#"><img src="/assets/img/clients/ripik.png" alt="ripik"></a>
    </div>
</div>

<div class="marquee dark">
<div class="marquee__group">
<a href="#"><img src="/assets/img/clients/carritos.png" alt="carritos"></a>
        <a href="#"><img src="/assets/img/clients/coalgiene.png" alt="coalgene"></a>
        <a href="#"><img style="border-radius: 50%;" src="/assets/img/clients/railtel.png" alt="railtel"></a>
        <a href="#"><img src="/assets/img/clients/dancewala.png" alt="dancewala"></a>
        <a href="#"><img src="/assets/img/clients/discovery.png" alt="discovery"></a>
        <a href="#"><img src="/assets/img/clients/furniture.png" alt="furniture"></a>
        
        <a href="#"><img src="/assets/img/clients/intech.png" alt="intech"></a>
        <a href="#"><img src="/assets/img/clients/jindal.png" alt="jindal"></a>
        <a href="#"><img src="/assets/img/clients/kazuki.png" alt="kazuki"></a>
        <a href="#"><img src="/assets/img/clients/logo1.png" alt="logo1"></a>
        <a href="#"><img src="/assets/img/clients/logo2.png" alt="logo2"></a>
        <a href="#"><img src="/assets/img/clients/logo3.png" alt="logo3"></a>
        <a href="#"><img src="/assets/img/clients/logo4.png" alt="logo4"></a>
        <a href="#"><img src="/assets/img/clients/logo5.png" alt="logo5"></a>
        <a href="#"><img src="/assets/img/clients/logo7.png" alt="logo7"></a>
        <a href="#"><img src="/assets/img/clients/logo8.png" alt="logo8"></a>
        <a href="#"><img src="/assets/img/clients/logo9.png" alt="logo9"></a>
        <a href="#"><img src="/assets/img/clients/logo10.png" alt="logo10"></a>
        <a href="#"><img src="/assets/img/clients/logo11.png" alt="logo11"></a>
        <a href="#"><img src="/assets/img/clients/lords.png" alt="lords"></a>
        <a href="#"><img src="/assets/img/clients/nestohub.png" alt="nestohub"></a>
        <a href="#"><img src="/assets/img/clients/peptone.png" alt="peptone"></a>
        <a href="#"><img src="/assets/img/clients/ripik.png" alt="ripik"></a>
</div>
<div aria-hidden="true" class="marquee__group">
<a href="#"><img src="/assets/img/clients/carritos.png" alt="carritos"></a>
        <a href="#"><img src="/assets/img/clients/coalgiene.png" alt="coalgene"></a>
        <a href="#"><img src="/assets/img/clients/dancewala.png" alt="dancewala"></a>
        <a href="#"><img src="/assets/img/clients/discovery.png" alt="discovery"></a>
        <a href="#"><img src="/assets/img/clients/furniture.png" alt="furniture"></a>
        
        <a href="#"><img src="/assets/img/clients/intech.png" alt="intech"></a>
        <a href="#"><img src="/assets/img/clients/jindal.png" alt="jindal"></a>
        <a href="#"><img src="/assets/img/clients/kazuki.png" alt="kazuki"></a>
        <a href="#"><img src="/assets/img/clients/logo1.png" alt="logo1"></a>
        <a href="#"><img src="/assets/img/clients/logo2.png" alt="logo2"></a>
        <a href="#"><img src="/assets/img/clients/logo3.png" alt="logo3"></a>
        <a href="#"><img src="/assets/img/clients/logo4.png" alt="logo4"></a>
        <a href="#"><img src="/assets/img/clients/logo5.png" alt="logo5"></a>
        <a href="#"><img src="/assets/img/clients/logo7.png" alt="logo7"></a>
        <a href="#"><img src="/assets/img/clients/logo8.png" alt="logo8"></a>
        <a href="#"><img src="/assets/img/clients/logo9.png" alt="logo9"></a>
        <a href="#"><img src="/assets/img/clients/logo10.png" alt="logo10"></a>
        <a href="#"><img src="/assets/img/clients/logo11.png" alt="logo11"></a>
        <a href="#"><img src="/assets/img/clients/lords.png" alt="lords"></a>
        <a href="#"><img src="/assets/img/clients/nestohub.png" alt="nestohub"></a>
        <a href="#"><img src="/assets/img/clients/peptone.png" alt="peptone"></a>
        <a href="#"><img src="/assets/img/clients/ripik.png" alt="ripik"></a>
</div>
</div>
<div class="title2">
<h6>More than 20 Partner we have</h6>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="home1-about-section mb-130">
<div class="container-lg container-fluid">
<div class="row g-4 mb-60">
<div class="col-lg-4">
<div class="sub-title two text-animation">
<h6>Who We Are
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
<path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z" />
</svg>
</h6>
</div>
</div>
<div class="col-lg-8">
<div class="section-title two text-animation">
<h2>Zmedios is a business that provides services related to online marketing.</h2>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-4 d-lg-flex d-none justify-content-end align-items-start">
<div class="about-left animet-images magnetic-item pt-30">
<img src="/assets/img/home1/about-left.jpg" alt>
</div>
</div>
<div class="col-lg-8">
<div class="row g-lg-4 gy-5 align-items-xl-center">
<div class="col-lg-5">
<div class="about-right-img animet-images magnetic-item">
<img src="/assets/img/home1/about-right.jpg" alt>
</div>
</div>
<div class="col-lg-7">
<div class="about-content text-animation">
<p>Digital agencies can vary in size and specialization. Some may focus on
specific
niches, such as healthcare or e-commerce, while others may offer a
comprehensive.</p>
<a href="/about">About More
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
</svg>
</a>
<div class="signature-and-star text-animation">
<div class="signature">
<img src="/assets/img/home1/Signature.png" alt>
</div>
<div class="star">
<svg xmlns="http://www.w3.org/2000/svg" width="150" height="145" viewBox="0 0 150 145">
<g>
<path d="M150 60.2308H105.604L137.033 29.8498L119.011 12.5348L87.6923 42.9158V0H62.3077V42.9158L30.8791 12.5348L12.967 29.8498L44.3956 60.2308H0V84.7692H44.3956L12.967 115.044L30.8791 132.465L62.3077 102.084V145H87.6923V102.084L119.011 132.465L137.033 115.044L105.604 84.7692H150V60.2308Z" />
</g>
</svg>
</div>
</div>
</div>
</div>
</div>
<ul class="counter-wrap">
<li class="single-counter">
<div class="content">
<div class="number">
<h2 class="counter">70</h2>
<span>+</span>
</div>
<p>Professional Experts</p>
</div>
</li>
<li class="single-counter">
<div class="content">
<div class="number">
<h2 class="counter">20</h2>
<span>+</span>
</div>
<p>Projects Complete</p>
</div>
</li>
<li class="single-counter">
<div class="content">
<div class="number">
<h2 class="counter">16</h2>
<span>+</span>
</div>
<p>World-wide Clients</p>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>


<div class="home1-solution-section pb-130">
<div class="vector d-lg-flex d-none">
<svg width="300" height="372" viewBox="0 0 300 372" fill="none" xmlns="http://www.w3.org/2000/svg">
<g>
<circle cx="-20" cy="320" r="270" stroke-width="100" />
</g>
</svg>
</div>
<div class="container-lg container-fluid">
<div class="row g-4 mb-60">
<div class="col-lg-4">
<div class="sub-title text-animation">
<h6>Solution Provide
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
<path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z" />
</svg>
</h6>
</div>
</div>
<div class="col-lg-8">
<div class="section-title text-animation">
<h2>TO PROVIDE SMART <br>
<span>SOLUTION.</span>
</h2>
<div class="dash-and-paragraph">
<div class="dash"></div>
<p>We offer a wide range of services to help businesses establish and enhance their 
online 
presence.</p>
</div>
</div>
</div>
</div>
<div class="row g-lg-4 gy-5">
<div class="col-lg-4">
<ul class="solution-img-wrapper text-animation">
<li class="active">
<div class="solution-img" style="background-image: url(/assets/img/home1/solution-01.jpg);">
</div>
</li>
<li>
<div class="solution-img" style="background-image: url(/assets/img/home1/solution-02.jpg);">
</div>
</li>
<li>
<div class="solution-img" style="background-image: url(/assets/img/home1/solution-03.jpg);">
</div>
</li>
<li>
<div class="solution-img" style="background-image: url(/assets/img/home1/solution-04.jpg);">
</div>
</li>
<li>
<div class="solution-img" style="background-image: url(/assets/img/home1/solution-05.jpg);">
</div>
</li>
</ul>
</div>
<div class="col-lg-8">
<div class="accordion accordion-flush" id="accordionFlushExample">
<div class="accordion-item">
<h3 class="accordion-header" id="flush-headingOne">
<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
1. Graphics Design
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
<path fill-rule="evenodd" clip-rule="evenodd" d="M5.42387 0C5.57582 0 5.72154 0.0585322 5.82898 0.16272C5.93642 0.266908 5.99679 0.408218 5.99679 0.555562V8.10343L9.02923 5.16284C9.13729 5.06164 9.28201 5.00564 9.43222 5.00691C9.58244 5.00817 9.72614 5.0666 9.83236 5.16961C9.93858 5.27261 9.99884 5.41195 10.0001 5.55762C10.0014 5.70329 9.9437 5.84362 9.83934 5.9484L5.82892 9.83734C5.72148 9.94149 5.57579 10 5.42387 10C5.27195 10 5.12625 9.94149 5.01882 9.83734L1.0084 5.9484C0.953682 5.89716 0.910035 5.83585 0.880009 5.76807C0.849983 5.70029 0.834179 5.62739 0.833518 5.55362C0.832857 5.47986 0.847352 5.4067 0.876159 5.33842C0.904966 5.27015 0.947507 5.20812 1.0013 5.15595C1.05509 5.10379 1.11906 5.06254 1.18947 5.0346C1.25988 5.00667 1.33532 4.99261 1.41139 4.99325C1.48746 4.99389 1.56264 5.00922 1.63254 5.03834C1.70244 5.06745 1.76566 5.10978 1.8185 5.16284L4.85095 8.10343V0.555562C4.85095 0.408218 4.91131 0.266908 5.01876 0.16272C5.1262 0.0585322 5.27192 0 5.42387 0Z" />
</svg>
</span>
</button>
</h3>
<div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
<div class="accordion-body">
<ul>
<li><a href="#">Banners</a></li>
<li><a href="#">Logos</a></li>
<li><a href="#">Infographics</a></li>
<li><a href="#">Visiting Card</a></li>
<li><a href="#">Brochure</a></li>
<li><a href="#">Printing</a></li>
</ul>
<p>Creating visually appealing graphics, including logos, banners,
infographics,
and other branding materials.</p>
<a class="explore-btn" href="/services/graphics">
Explore More
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
</svg>
</a>
</div>
</div>
</div>
<div class="accordion-item">
    <h3 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            2. Web Development
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.42387 0C5.57582 0 5.72154 0.0585322 5.82898 0.16272C5.93642 0.266908 5.99679 0.408218 5.99679 0.555562V8.10343L9.02923 5.16284C9.13729 5.06164 9.28201 5.00564 9.43222 5.00691C9.58244 5.00817 9.72614 5.0666 9.83236 5.16961C9.93858 5.27261 9.99884 5.41195 10.0001 5.55762C10.0014 5.70329 9.9437 5.84362 9.83934 5.9484L5.82892 9.83734C5.72148 9.94149 5.57579 10 5.42387 10C5.27195 10 5.12625 9.94149 5.01882 9.83734L1.0084 5.9484C0.953682 5.89716 0.910035 5.83585 0.880009 5.76807C0.849983 5.70029 0.834179 5.62739 0.833518 5.55362C0.832857 5.47986 0.847352 5.4067 0.876159 5.33842C0.904966 5.27015 0.947507 5.20812 1.0013 5.15595C1.05509 5.10379 1.11906 5.06254 1.18947 5.0346C1.25988 5.00667 1.33532 4.99261 1.41139 4.99325C1.48746 4.99389 1.56264 5.00922 1.63254 5.03834C1.70244 5.06745 1.76566 5.10978 1.8185 5.16284L4.85095 8.10343V0.555562C4.85095 0.408218 4.91131 0.266908 5.01876 0.16272C5.1262 0.0585322 5.27192 0 5.42387 0Z" />
                </svg>
            </span>
        </button>
    </h3>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <ul>
                <li><a href="#">Landing Pages</a></li>
                <li><a href="#">E-commerce Solutions</a></li>
                <li><a href="#">SEO Optimization</a></li>
                <li><a href="#">Responsive Design</a></li>
                <li><a href="#">CMS Development</a></li>
                <li><a href="#">Web Applications</a></li>
            </ul>
            <p>Building state-of-the-art websites and web applications, from captivating landing pages to comprehensive e-commerce solutions. Specializing in SEO optimization and responsive design to ensure your website stands out and performs well across all devices.</p>
            <a class="explore-btn" href="/services/web">
                Explore More
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                    <path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
                </svg>
            </a>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h3 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            3. Mobile App Development
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.42387 0C5.57582 0 5.72154 0.0585322 5.82898 0.16272C5.93642 0.266908 5.99679 0.408218 5.99679 0.555562V8.10343L9.02923 5.16284C9.13729 5.06164 9.28201 5.00564 9.43222 5.00691C9.58244 5.00817 9.72614 5.0666 9.83236 5.16961C9.93858 5.27261 9.99884 5.41195 10.0001 5.55762C10.0014 5.70329 9.9437 5.84362 9.83934 5.9484L5.82892 9.83734C5.72148 9.94149 5.57579 10 5.42387 10C5.27195 10 5.12625 9.94149 5.01882 9.83734L1.0084 5.9484C0.953682 5.89716 0.910035 5.83585 0.880009 5.76807C0.849983 5.70029 0.834179 5.62739 0.833518 5.55362C0.832857 5.47986 0.847352 5.4067 0.876159 5.33842C0.904966 5.27015 0.947507 5.20812 1.0013 5.15595C1.05509 5.10379 1.11906 5.06254 1.18947 5.0346C1.25988 5.00667 1.33532 4.99261 1.41139 4.99325C1.48746 4.99389 1.56264 5.00922 1.63254 5.03834C1.70244 5.06745 1.76566 5.10978 1.8185 5.16284L4.85095 8.10343V0.555562C4.85095 0.408218 4.91131 0.266908 5.01876 0.16272C5.1262 0.0585322 5.27192 0 5.42387 0Z" />
                </svg>
            </span>
        </button>
    </h3>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <ul>
                <li><a href="#">Native Mobile Apps</a></li>
                <li><a href="#">Cross-Platform Apps</a></li>
                <li><a href="#">UI/UX Design for Apps</a></li>
                <li><a href="#">Mobile App Prototyping</a></li>
                <li><a href="#">App Testing & QA</a></li>
                <li><a href="#">App Maintenance & Support</a></li>
            </ul>
            <p>Delivering top-notch mobile app development services to create engaging, user-friendly, and robust mobile applications. From ideation to launch and beyond, we ensure your app meets your business needs and exceeds user expectations.</p>
            <a class="explore-btn" href="/services/mobile">
                Explore More
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                    <path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
                </svg>
            </a>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h3 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            4. Digital Marketing
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.42387 0C5.57582 0 5.72154 0.0585322 5.82898 0.16272C5.93642 0.266908 5.99679 0.408218 5.99679 0.555562V8.10343L9.02923 5.16284C9.13729 5.06164 9.28201 5.00564 9.43222 5.00691C9.58244 5.00817 9.72614 5.0666 9.83236 5.16961C9.93858 5.27261 9.99884 5.41195 10.0001 5.55762C10.0014 5.70329 9.9437 5.84362 9.83934 5.9484L5.82892 9.83734C5.72148 9.94149 5.57579 10 5.42387 10C5.27195 10 5.12625 9.94149 5.01882 9.83734L1.0084 5.9484C0.953682 5.89716 0.910035 5.83585 0.880009 5.76807C0.849983 5.70029 0.834179 5.62739 0.833518 5.55362C0.832857 5.47986 0.847352 5.4067 0.876159 5.33842C0.904966 5.27015 0.947507 5.20812 1.0013 5.15595C1.05509 5.10379 1.11906 5.06254 1.18947 5.0346C1.25988 5.00667 1.33532 4.99261 1.41139 4.99325C1.48746 4.99389 1.56264 5.00922 1.63254 5.03834C1.70244 5.06745 1.76566 5.10978 1.8185 5.16284L4.85095 8.10343V0.555562C4.85095 0.408218 4.91131 0.266908 5.01876 0.16272C5.1262 0.0585322 5.27192 0 5.42387 0Z" />
                </svg>
            </span>
        </button>
    </h3>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <ul>
                <li><a href="#">Search Engine Optimization (SEO)</a></li>
                <li><a href="#">Pay-Per-Click Advertising (PPC)</a></li>
                <li><a href="#">Social Media Marketing</a></li>
                <li><a href="#">Content Marketing</a></li>
                <li><a href="#">Email Marketing</a></li>
                <li><a href="#">Influencer Marketing</a></li>
            </ul>
            <p>Empowering brands through comprehensive digital marketing strategies that enhance visibility, engagement, and conversion. We leverage the latest tools and techniques in SEO, PPC, social media, content, email, and influencer marketing to connect your brand with its target audience and drive results.</p>
            <a class="explore-btn" href="/services/marketing">
                Explore More
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                    <path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
                </svg>
            </a>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h3 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            5. Mastering Data Science
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.42387 0C5.57582 0 5.72154 0.0585322 5.82898 0.16272C5.93642 0.266908 5.99679 0.408218 5.99679 0.555562V8.10343L9.02923 5.16284C9.13729 5.06164 9.28201 5.00564 9.43222 5.00691C9.58244 5.00817 9.72614 5.0666 9.83236 5.16961C9.93858 5.27261 9.99884 5.41195 10.0001 5.55762C10.0014 5.70329 9.9437 5.84362 9.83934 5.9484L5.82892 9.83734C5.72148 9.94149 5.57579 10 5.42387 10C5.27195 10 5.12625 9.94149 5.01882 9.83734L1.0084 5.9484C0.953682 5.89716 0.910035 5.83585 0.880009 5.76807C0.849983 5.70029 0.834179 5.62739 0.833518 5.55362C0.832857 5.47986 0.847352 5.4067 0.876159 5.33842C0.904966 5.27015 0.947507 5.20812 1.0013 5.15595C1.05509 5.10379 1.11906 5.06254 1.18947 5.0346C1.25988 5.00667 1.33532 4.99261 1.41139 4.99325C1.48746 4.99389 1.56264 5.00922 1.63254 5.03834C1.70244 5.06745 1.76566 5.10978 1.8185 5.16284L4.85095 8.10343V0.555562C4.85095 0.408218 4.91131 0.266908 5.01876 0.16272C5.1262 0.0585322 5.27192 0 5.42387 0Z" />
                </svg>
            </span>
        </button>
    </h3>
    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <ul>
                <li><a href="#">Machine Learning Models</a></li>
                <li><a href="#">Data Analysis & Visualization</a></li>
                <li><a href="#">Deep Learning Techniques</a></li>
                <li><a href="#">Natural Language Processing (NLP)</a></li>
                <li><a href="#">Predictive Analytics</a></li>
                <li><a href="#">AI Strategy & Consulting</a></li>
            </ul>
            <p>Unlock the power of data with our comprehensive Machine Learning and Data Training services. From predictive analytics to natural language processing, our expertise in cutting-edge technologies transforms data into actionable insights and innovative solutions for your business.</p>
            <a class="explore-btn" href="/services/datascience">
                Explore More
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                    <path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
                </svg>
            </a>
        </div>
    </div>
</div>

</div>
</div>
</div>
</div>
</div>


<div class="work-section">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="section-title-2 scroll-sec-title text-center mb-60">
<h2>
Our Work
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
<g>
<path d="M50 20.7692H35.2015L45.6777 10.293L39.6703 4.32234L29.2308 14.7985V0H20.7692V14.7985L10.293 4.32234L4.32234 10.293L14.7985 20.7692H0V29.2308H14.7985L4.32234 39.6703L10.293 45.6777L20.7692 35.2015V50H29.2308V35.2015L39.6703 45.6777L45.6777 39.6703L35.2015 29.2308H50V20.7692Z" />
</g>
</svg>
</h2>
</div>
</div>
</div>
<div class="row mb-80">
<div class="col-lg-12">
<div class="row mb-80 g-lg-0 gy-5 justify-content-between ">
<div class="col-lg-5">
<div class="single-work magnetic-item">
<div class="work-img">
<img src="/assets/img/home1/work-img-01.jpg" alt>
</div>
<div class="work-content">
<div class="content-wrap">
<h5><a href="#">Branding Design</a></h5>
<ul>
<li><a href="#">Web Design</a></li>
<li><a href="#">Development</a></li>
<li><a href="#">Software</a></li>
</ul>
<div class="view-details-wrap">
<a href="#" class="active"><span>View
Details</span> <span><i class="bi bi-plus"></i></span></a>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="single-work magnetic-item">
<div class="work-img">
<img src="/assets/img/home1/work-img-02.jpg" alt>
</div>
<div class="work-content">
<div class="content-wrap">
<h5><a href="#">UI/UX Design</a></h5>
<ul>
<li><a href="#">Prototype</a></li>
<li><a href="#">Color</a></li>
<li><a href="#">Typography</a></li>
<li><a href="#">Visual</a></li>
</ul>
<div class="view-details-wrap">
<a href="#" class="active"><span>View
Details</span> <span><i class="bi bi-plus"></i></span></a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row mb-80 g-lg-0 gy-5 justify-content-between">
<div class="col-lg-12">
<div class="single-work magnetic-item">
<div class="work-img">
<img src="/assets/img/home1/work-img-03.jpg" alt>
</div>
<div class="work-content">
<div class="content-wrap">
<h5><a href="#">Email Marketing</a></h5>
<ul>
<li><a href="#">Testing</a></li>
<li><a href="#">Color</a></li>
<li><a href="#">Campaign</a></li>
<li><a href="#">Segmentation</a></li>
</ul>
<div class="view-details-wrap">
<a href="#" class="active">
<span>View Details</span>
<span><i class="bi bi-plus"></i></span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row  g-lg-0 gy-5 justify-content-between">
<div class="col-lg-6">
<div class="single-work magnetic-item">
<div class="work-img">
<img src="/assets/img/home1/work-img-04.jpg" alt>
</div>
<div class="work-content">
<div class="content-wrap">
<h5><a href="#">Web Development</a></h5>
<ul>
<li><a href="#">Frameworks</a></li>
<li><a href="#">Color</a></li>
<li><a href="#">Databases</a></li>
</ul>
<div class="view-details-wrap">
<a href="#" class="active"><span>View
Details</span> <span><i class="bi bi-plus"></i></span></a>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-5">
<div class="single-work magnetic-item">
<div class="work-img">
<img src="/assets/img/home1/work-img-05.jpg" alt>
</div>
<div class="work-content">
<div class="content-wrap">
<h5><a href="#">Graphics Design</a></h5>
<ul>
<li><a href="#">Logo</a></li>
<li><a href="#">Color</a></li>
<li><a href="#">Typography</a></li>
<li><a href="#">Motion</a></li>
</ul>
<div class="view-details-wrap">
<a href="#" class="active"><span>View
Details</span> <span><i class="bi bi-plus"></i></span></a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12 d-flex align-items-center justify-content-between gap-4 flex-wrap text-animation">
<div class="section-title scroll-sec-title-end">
<h2>
Our Work
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
<g>
<path d="M50 20.7692H35.2015L45.6777 10.293L39.6703 4.32234L29.2308 14.7985V0H20.7692V14.7985L10.293 4.32234L4.32234 10.293L14.7985 20.7692H0V29.2308H14.7985L4.32234 39.6703L10.293 45.6777L20.7692 35.2015V50H29.2308V35.2015L39.6703 45.6777L45.6777 39.6703L35.2015 29.2308H50V20.7692Z" />
</g>
</svg>
</h2>
<p>Developing and maintaining a consistent visual identity for a brand across
various materials and platforms.</p>
</div>
<div class="btn_wrapper">
<a class="circle-btn btn-hover" href="#">
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z">
</path>
</svg> Explore <strong>Now</strong>
<span></span>
</a>
</div>
</div>
</div>
</div>
</div>
<div class="text-slider-section">
<div class="marquee">
<div class="marquee__group">
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg> DIGITAL PRODUCT
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>DIGITAL STUDIO
</span>
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg>BRANDING DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>EMAIL MARKETING
</span>
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg>BRANDING DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>EMAIL MARKETING
</span>
</div>
<div class="marquee__group">
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg> DIGITAL PRODUCT
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>DIGITAL STUDIO
</span>
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg>BRANDING DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>EMAIL MARKETING
</span>
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg>BRANDING DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>EMAIL MARKETING
</span>
</div>
</div>
</div>


<div class="home1-process-section pt-130 pb-130">
<div class="container-lg container-fluid">
<div class="row g-4 mb-60 ">
<div class="col-lg-4">
<div class="sub-title text-animation">
<h6>Our Solution Process
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
<path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z"></path>
</svg>
</h6>
</div>
</div>
<div class="col-lg-8">
<div class="section-title text-animation">
<h2>03 STEPS WE<br>
<span>FOLLOW.</span>
</h2>
<div class="dash-and-paragraph">
<div class="dash"></div>

</div>
</div>
</div>
</div>
<div class="row g-lg-4 gy-5 d-flex justify-content-lg-center">
<div class="col-lg-4 col-sm-6">
<div class="single-process">
<div class="step-and-dash">
<h6>Step-01 :</h6>
<span></span>
</div>
<div class="icon">
<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
<g>
<path d="M67.6527 16.0958C68.7855 14.6144 67.827 11.5646 65.5614 12.436C60.246 14.5273 54.7564 19.1456 51.1838 23.6767C47.4368 28.4693 46.7397 34.5689 48.4825 40.3199C51.0095 48.6851 58.4161 54.1748 65.5614 58.6188C68.8726 60.7101 71.8353 55.4818 68.6112 53.3905C63.383 50.1665 57.5448 46.071 54.9307 40.3199C52.9265 35.7888 52.9265 30.6477 56.2377 26.6394C59.5489 22.7182 64.4286 20.1041 67.6527 16.0958ZM1.42836 53.3905C-1.88286 55.3947 1.16694 60.6229 4.47816 58.6188C11.6234 54.1748 18.943 48.6851 21.5571 40.3199C23.2998 34.7432 22.6899 28.6435 19.1172 24.0253C15.6317 19.407 9.96781 14.6144 4.5653 12.5231C2.29973 11.6518 1.25408 14.7016 2.474 16.1829C5.61095 20.1041 10.3164 22.7182 13.6276 26.4651C17.1131 30.4734 17.2873 35.7017 15.196 40.4942C12.4948 46.071 6.56946 50.1665 1.42836 53.3905ZM53.3622 1.36957C50.1381 6.59781 46.0426 12.436 40.2916 15.0501C35.7604 17.0543 30.6193 17.0543 26.611 13.7431C22.6027 10.4319 19.9886 5.55216 15.9803 2.32808C14.5861 1.1953 11.5363 2.24094 12.4077 4.50651C14.499 9.82189 19.1172 15.3115 23.6484 18.8842C28.4409 22.6311 34.5405 23.3282 40.2916 21.5854C48.6568 19.0584 54.1464 11.6518 58.5904 4.50651C60.5946 1.1953 55.4535 -1.85451 53.3622 1.36957ZM58.5904 65.5898C54.1464 58.4445 48.6568 51.125 40.2916 48.5108C34.7148 46.7681 28.6152 47.3781 23.9969 50.9507C19.3786 54.4362 14.5861 60.1001 12.4948 65.5026C11.6234 67.7682 14.6732 68.8138 16.1546 67.5939C20.0757 64.457 22.6899 59.7516 26.4368 56.4403C30.4451 52.9548 35.6733 52.7806 40.4659 54.8719C46.2169 57.486 50.2252 63.3242 53.5365 68.5524C55.4535 71.8636 60.5946 68.901 58.5904 65.5898Z" />
</g>
</svg>
</div>
<div class="content">
<h3>Strategy</h3>
<p>Analyze the client's industry, competitors, and target audience</p>
<ul>
<li><i class="bi bi-plus"></i> Initial Consultation.</li>
<li><i class="bi bi-plus"></i> Market Research.</li>
<li><i class="bi bi-plus"></i> Strategic Planning.</li>
</ul>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6">
<div class="single-process">
<div class="step-and-dash">
<h6>Step-02 :</h6>
<span></span>
</div>
<div class="icon">
<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
<path d="M58.3331 63C58.3331 50.1144 47.8856 39.6669 35 39.6669C22.1144 39.6669 11.6669 50.1144 11.6669 63H7C7 47.537 19.537 35 35 35C50.463 35 63 47.537 63 63H58.3331ZM39.6669 7C39.6669 19.8856 50.1144 30.3338 63 30.3338V35C47.537 35 35 22.463 35 7H39.6669Z" />
<path d="M56 21C59.866 21 63 17.866 63 14C63 10.134 59.866 7 56 7C52.134 7 49 10.134 49 14C49 17.866 52.134 21 56 21Z" />
<path d="M35.0001 63.0007C40.1546 63.0007 44.3332 58.8221 44.3332 53.6676C44.3332 48.513 40.1546 44.3345 35.0001 44.3345C29.8456 44.3345 25.667 48.513 25.667 53.6676C25.667 58.8221 29.8456 63.0007 35.0001 63.0007Z" fill="#F5BEBE" />
<path d="M18.6669 30.3338C25.1104 30.3338 30.3338 25.1104 30.3338 18.6669C30.3338 12.2234 25.1104 7 18.6669 7C12.2234 7 7 12.2234 7 18.6669C7 25.1104 12.2234 30.3338 18.6669 30.3338Z" fill="#F5BEBE" />
</svg>
</div>
<div class="content">
<h3>Sketch & Design</h3>
<p>Define the user experience (UX) and user interface (UI) design.</p>
<ul>
<li><i class="bi bi-plus"></i> Wireframing</li>
<li><i class="bi bi-plus"></i> Design Mockups.</li>
<li><i class="bi bi-plus"></i> Implementation.</li>
</ul>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6">
<div class="single-process">
<div class="step-and-dash">
<h6>Step-03 :</h6>
</div>
<div class="icon">
<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
<path d="M60.9 25.69H44.31V9.1C44.31 7.91 45.22 7 46.41 7H60.9C62.09 7 63 7.91 63 9.1V23.59C63 24.71 62.09 25.69 60.9 25.69ZM44.31 44.31H25.69V27.79C25.69 26.6 26.6 25.69 27.79 25.69H44.38V44.31H44.31ZM23.59 63H9.1C7.91 63 7 62.09 7 60.9V46.41C7 45.22 7.91 44.31 9.1 44.31H25.69V60.9C25.69 62.09 24.71 63 23.59 63ZM9.1 7H22.54C23.73 7 24.29 8.4 23.45 9.24L9.24 23.45C8.4 24.29 7 23.66 7 22.54V9.1C7 7.91 7.91 7 9.1 7Z" />
<path d="M60.9001 63.0001H46.4101C45.2201 63.0001 44.3101 62.0901 44.3101 60.9001V44.3101H60.9001C62.0901 44.3101 63.0001 45.2201 63.0001 46.4101V60.9001C63.0001 62.0901 62.0901 63.0001 60.9001 63.0001Z" />
</svg>
</div>
<div class="content">
<h3>Development</h3>
<p>Implement coding, scripting, and programming as needed.</p>
<ul>
<li><i class="bi bi-plus"></i> Design Implementation.</li>
<li><i class="bi bi-plus"></i> Testing & Fixing.</li>
<li><i class="bi bi-plus"></i> Product Launch</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="testimonial-section mb-130" id="letstalk">
<div class="vector-2 d-lg-flex d-none">
<svg width="388" height="483" viewBox="0 0 388 483" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M49.9996 415.484C49.9996 617.519 213.092 780.968 413.866 780.968C614.641 780.968 777.733 617.519 777.733 415.484C777.733 213.449 614.641 50 413.866 50C213.092 50 49.9996 213.449 49.9996 415.484Z" stroke-width="100" />
</svg>
</div>
<div class="container-lg container-fluid">
<div class="row g-4">
<div class="col-lg-4">
<div class="sub-title text-animation">
<h6>Client Feedback
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
<path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z"></path>
</svg>
</h6>
</div>
</div>
<div class="col-lg-8">
<div class="section-title text-animation">
<h2>Feedbacks From Our <strong>Happy Clients.</strong></h2>
<div class="dash-and-paragraph two">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 429 64">
<path d="M0.333333 3C0.333333 4.47276 1.52724 5.66667 3 5.66667C4.47276 5.66667 5.66667 4.47276 5.66667 3C5.66667 1.52724 4.47276 0.333333 3 0.333333C1.52724 0.333333 0.333333 1.52724 0.333333 3ZM427 3L427.271 3.42013L428.697 2.5H427V3ZM394.084 64L397.265 59.1819L391.502 58.836L394.084 64ZM3 3.5H427V2.5H3V3.5ZM426.729 2.57987C413.302 11.2438 396.485 27.4669 393.855 59.4675L394.852 59.5494C397.45 27.938 414.03 11.9643 427.271 3.42013L426.729 2.57987Z" />
</svg>
<p>We Have The Solutions To All Your Buisness Problems.</p>
</div>
</div>
</div>
</div>
<style>
    .review-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: 6px solid #F76532;
    }
</style>
<div class="contact-page">
    <div class=" contact-info-wrap">
        <div class="row gy-5 justify-content-between align-items-center">
        <div class="col-xl-6">
        <div class="row">
        <div class="col-xl-11 col-md-6 mb-30 ">
        <img class="review-img" src="/assets/img/reviews/review1.png" alt="">

        </div>
        <div class="col-xl-11 col-md-6 mb-30 " style="margin-left: auto;">
            <img class="review-img" src="/assets/img/reviews/review2.png" alt="">
    
            </div>
        <div class="col-xl-11 col-md-6 mb-30 ">
                <img class="review-img" src="/assets/img/reviews/review3.png" alt="">
        
            </div>
        <div class="col-xl-11 col-md-6 mb-30 " style="margin-left: auto;">
                    <img class="review-img" src="/assets/img/reviews/review4.png" alt="">
            
            </div>
        </div>
        </div>
        <div class="col-xl-6">
        <div class="contact-form-wrap">
        <form>
        <div class="row">
        
        <div class="col-md-12">
        <div class="form-inner mb-30">
        <label>Your Email*</label>
        <input type="email" placeholder="example@gamil.com" required>
        </div>
        </div>
        <div class="col-md-12">
            <div class="form-inner mb-30">
            <label>Time Period*</label>
            <select name="" id="">
                <option value="">1 Month</option>
                <option value="">3 Month</option>
                <option value="">6 Month</option>
                <option value="">1 Year</option>
                
            </select>  
            </div>
            </div>
     

        <div class="col-md-12">
            <div class="form-inner mt-30 mb-60">
            <label>Branch</label>
            <select name="" id="">
                <option value="">Website Development</option>
                <option value="">App Development</option>
                <option value="">Graphics Designing</option>
                <option value="">Other</option>
            </select>            
            </div>
            </div>
            

        <div class="col-md-12">
        <div class="form-inner mb-30 mt-30">
        <!-- <label>How can We Help You?</label> -->
        <textarea placeholder="What’s on your mind"></textarea>
        </div>
        </div>
        <!-- <div class="col-md-12 mb-50">
        <div class="form-inner2">
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="contactCheck">
        <label class="form-check-label" for="contactCheck">
        Please save my name, email address for the next time I
        message.
        </label>
        </div>
        </div>
        </div> -->
        </div>
        <div class="form-inner">
        <button class="primary-btn3 btn-hover" type="submit">
        Submit Now
        <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z">
        </path>
        </svg>
        <span></span>
        </button>
        </div>
        </form>
        </div>
        </div>
        </div>
        </div>
</div>

</div>
</div>




<div class="contact-section mb-130" >
<div class="container-lg container-fluid">
<div class="row g-lg-4 gy-5">
<div class="col-lg-8">
<div class="section-title text-animation">
<h2>Let’s <span>TALK</span></h2>
<div class="dash-and-paragraph">
<div class="dash"></div>
<div class="content-and-social">
<p>Ready to elevate your digital strategy? Reach out to the Zmedios team to
    start your transformation.</p>
<div class="social-area">
<h6>Connect Us</h6>
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
<path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z" />
</svg>
<ul>
<li><a href="https://hi-in.facebook.com/zmediostechnology/"><i class="bx bxl-facebook"></i></a>
</li>
<li><a href="https://www.youtube.com/channel/UCjTawyrg0i7aJXnoBbZ92TQ"><i class="bi bi-youtube"></i></a></li>
<li><a href="https://wa.me/91-9340609004"><i class="bi bi-whatsapp"></i></a>
</li>
<li><a href="https://www.instagram.com/zmedios_technology_pvt_ltd_?igsh=MTNoeWtkMHlrejdseA=="><i class="bx bxl-instagram-alt"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 d-lg-flex justify-content-end align-items-center">
<div class="btn_wrapper">
<a class="circle-btn btn-hover" href="/contact">
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z">
</path>
</svg> Contact <strong>Now</strong>
<span></span>
</a>
</div>
</div>
</div>
</div>
</div>


<!-- <div class="contact-page pt-130 mb-130">
    <div class="container-lg container-fluid">
    <div class="section-title six mb-70">
    <h2>Contact Us</h2>
    <div class="dash-and-paragraph">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 877 64">
    <path d="M0.333333 3C0.333333 4.47276 1.52724 5.66667 3 5.66667C4.47276 5.66667 5.66667 4.47276 5.66667 3C5.66667 1.52724 4.47276 0.333333 3 0.333333C1.52724 0.333333 0.333333 1.52724 0.333333 3ZM875 3L875.271 3.42013L876.697 2.5H875V3ZM842.084 64L845.265 59.1819L839.502 58.836L842.084 64ZM3 3.5H875V2.5H3V3.5ZM874.729 2.57987C861.302 11.2438 844.485 27.4669 841.856 59.4675L842.852 59.5494C845.45 27.938 862.03 11.9643 875.271 3.42013L874.729 2.57987Z"></path>
    </svg>
    <p>Creating a concise and effective design studio brief is crucial for outlining your
    business, its services.</p>
    </div>
    </div>
    <div class="contact-info-wrap">
    <div class="row gy-5 justify-content-between">
    <div class="col-xl-4">
    <div class="row">
    <div class="col-xl-12 col-md-6">
    <div class="single-location mb--30">
    <div class="title">
    <h4>Sydne, Australia</h4>
    </div>
    <ul>
    <li>
    <div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
    <path d="M14.2333 11.1504C13.8642 10.7667 13.4191 10.5615 12.9473 10.5615C12.4794 10.5615 12.0304 10.7629 11.6462 11.1466L10.4439 12.3433C10.345 12.2901 10.2461 12.2407 10.151 12.1913C10.014 12.1229 9.88467 12.0583 9.77433 11.9899C8.64819 11.2757 7.62476 10.345 6.64319 9.14067C6.16762 8.54043 5.84804 8.03516 5.61596 7.52229C5.92793 7.23736 6.21708 6.94104 6.49861 6.65611C6.60514 6.54974 6.71167 6.43957 6.8182 6.33319C7.61715 5.5354 7.61715 4.50207 6.8182 3.70427L5.77955 2.66714C5.66161 2.54937 5.53987 2.4278 5.42573 2.30623C5.19746 2.07069 4.95777 1.82755 4.71047 1.59961C4.34143 1.2349 3.9001 1.04115 3.43595 1.04115C2.97179 1.04115 2.52286 1.2349 2.1424 1.59961L2.13479 1.60721L0.841243 2.91027C0.35426 3.39655 0.076528 3.9892 0.0156552 4.67682C-0.0756541 5.78614 0.251537 6.81947 0.502638 7.4957C1.11898 9.15587 2.03968 10.6945 3.41312 12.3433C5.07952 14.3301 7.08452 15.8991 9.37486 17.0047C10.2499 17.4187 11.4179 17.9088 12.7229 17.9924C12.8028 17.9962 12.8865 18 12.9626 18C13.8414 18 14.5795 17.6847 15.1578 17.0578C15.1616 17.0502 15.1692 17.0464 15.173 17.0388C15.3708 16.7995 15.5991 16.583 15.8388 16.3512C16.0024 16.1955 16.1698 16.0321 16.3334 15.8611C16.71 15.4698 16.9079 15.014 16.9079 14.5467C16.9079 14.0756 16.7062 13.6235 16.322 13.2436L14.2333 11.1504ZM15.5953 15.1507C15.5915 15.1545 15.5915 15.1507 15.5953 15.1507C15.4469 15.3103 15.2947 15.4547 15.1311 15.6142C14.8838 15.8498 14.6327 16.0967 14.3969 16.374C14.0126 16.7843 13.5599 16.9781 12.9664 16.9781C12.9093 16.9781 12.8484 16.9781 12.7913 16.9743C11.6614 16.9021 10.6113 16.4614 9.82379 16.0853C7.67042 15.0444 5.77955 13.5665 4.20827 11.6936C2.91092 10.1322 2.04348 8.68859 1.46899 7.13859C1.11517 6.19263 0.985816 5.45562 1.04288 4.7604C1.08093 4.31591 1.25214 3.94741 1.56791 3.63209L2.86527 2.33662C3.05169 2.16187 3.24953 2.06689 3.44356 2.06689C3.68324 2.06689 3.87728 2.21125 3.99902 2.33282L4.01044 2.34422C4.24251 2.56076 4.46318 2.78491 4.69526 3.02424C4.8132 3.14581 4.93494 3.26738 5.05669 3.39275L6.09533 4.42988C6.49861 4.83258 6.49861 5.20488 6.09533 5.60758C5.985 5.71775 5.87847 5.82792 5.76814 5.9343C5.44856 6.26101 5.14419 6.56494 4.8132 6.86126C4.80559 6.86886 4.79798 6.87266 4.79417 6.88025C4.46698 7.20697 4.52786 7.52609 4.59634 7.74263L4.60775 7.77682C4.87787 8.43026 5.25833 9.0457 5.83662 9.77891L5.84043 9.78271C6.89048 11.0744 7.99761 12.0811 9.21887 12.8523C9.37486 12.9511 9.53465 13.0309 9.68683 13.1069C9.82379 13.1752 9.95315 13.2398 10.0635 13.3082C10.0787 13.3158 10.0939 13.3272 10.1091 13.3348C10.2385 13.3994 10.3602 13.4298 10.4858 13.4298C10.8016 13.4298 10.9994 13.2322 11.0641 13.1676L12.3652 11.8684C12.4946 11.7392 12.7 11.5834 12.9397 11.5834C13.1756 11.5834 13.3696 11.7316 13.4876 11.8608L13.4952 11.8684L15.5915 13.9616C15.9834 14.3491 15.9834 14.748 15.5953 15.1507ZM9.72868 4.28172C10.7255 4.44888 11.631 4.91996 12.3538 5.64177C13.0767 6.36359 13.5446 7.26775 13.7159 8.2631C13.7577 8.51383 13.9746 8.68859 14.2219 8.68859C14.2523 8.68859 14.2789 8.68479 14.3094 8.68099C14.5909 8.6354 14.7773 8.36947 14.7317 8.08834C14.5262 6.88405 13.9555 5.78614 13.0843 4.91616C12.2131 4.04618 11.1135 3.47633 9.90749 3.27118C9.62596 3.22559 9.36344 3.41175 9.31398 3.68907C9.26452 3.9664 9.44714 4.23613 9.72868 4.28172ZM17.9922 7.94018C17.6536 5.95709 16.7176 4.15255 15.2795 2.71652C13.8414 1.28049 12.0342 0.345932 10.0483 0.00781895C9.77053 -0.0415684 9.50802 0.148383 9.45856 0.425712C9.4129 0.70684 9.59932 0.968972 9.88086 1.01836C11.6538 1.31848 13.2707 2.15807 14.5567 3.43834C15.8426 4.72241 16.6796 6.33699 16.9802 8.10734C17.022 8.35808 17.2389 8.53283 17.4862 8.53283C17.5166 8.53283 17.5432 8.52903 17.5737 8.52523C17.8514 8.48344 18.0416 8.21751 17.9922 7.94018Z">
    </path>
    </svg>
    </div>
    <div class="info">
    <a href="tel:0921772345432">+092-177-234 5432</a>
    <a href="tel:0921772344663">+092-177-234 4663</a>
    </div>
    </li>
    <li>
    <div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
    <path d="M0 4.5C0 3.90326 0.237053 3.33097 0.65901 2.90901C1.08097 2.48705 1.65326 2.25 2.25 2.25H15.75C16.3467 2.25 16.919 2.48705 17.341 2.90901C17.7629 3.33097 18 3.90326 18 4.5V13.5C18 14.0967 17.7629 14.669 17.341 15.091C16.919 15.5129 16.3467 15.75 15.75 15.75H2.25C1.65326 15.75 1.08097 15.5129 0.65901 15.091C0.237053 14.669 0 14.0967 0 13.5V4.5ZM2.25 3.375C1.95163 3.375 1.66548 3.49353 1.4545 3.7045C1.24353 3.91548 1.125 4.20163 1.125 4.5V4.74412L9 9.46912L16.875 4.74412V4.5C16.875 4.20163 16.7565 3.91548 16.5455 3.7045C16.3345 3.49353 16.0484 3.375 15.75 3.375H2.25ZM16.875 6.05587L11.5785 9.234L16.875 12.4931V6.05587ZM16.8368 13.7914L10.4918 9.8865L9 10.7809L7.50825 9.8865L1.16325 13.7903C1.22718 14.0296 1.36836 14.2412 1.56486 14.3922C1.76137 14.5431 2.00221 14.625 2.25 14.625H15.75C15.9976 14.625 16.2384 14.5434 16.4349 14.3926C16.6313 14.2419 16.7726 14.0306 16.8368 13.7914ZM1.125 12.4931L6.4215 9.234L1.125 6.05587V12.4931Z"></path>
    </svg>
    </div>
    <div class="info">
    <a href="mailto:infoexample@gmail.com">infoexample@gmail.com</a>
    <a href="mailto:infoexample2@gmail.com">infoexample2@gmail.com</a>
    </div>
    </li>
    <li>
    <div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18">
    <path d="M11.8603 10.0575C11.249 11.2522 10.4207 12.4425 9.57367 13.5113C8.77018 14.5188 7.91105 15.484 7 16.4025C6.08893 15.484 5.2298 14.5188 4.42633 13.5113C3.57933 12.4425 2.751 11.2522 2.13967 10.0575C1.52133 8.85037 1.16667 7.71975 1.16667 6.75C1.16667 5.25816 1.78125 3.82742 2.87521 2.77252C3.96917 1.71763 5.4529 1.125 7 1.125C8.5471 1.125 10.0308 1.71763 11.1248 2.77252C12.2188 3.82742 12.8333 5.25816 12.8333 6.75C12.8333 7.71975 12.4775 8.85037 11.8603 10.0575ZM7 18C7 18 14 11.6033 14 6.75C14 4.95979 13.2625 3.2429 11.9497 1.97703C10.637 0.711159 8.85652 0 7 0C5.14348 0 3.36301 0.711159 2.05025 1.97703C0.737498 3.2429 2.76642e-08 4.95979 0 6.75C0 11.6033 7 18 7 18Z">
    </path>
    <path d="M7 9C6.38116 9 5.78767 8.76295 5.35008 8.34099C4.9125 7.91903 4.66667 7.34674 4.66667 6.75C4.66667 6.15326 4.9125 5.58097 5.35008 5.15901C5.78767 4.73705 6.38116 4.5 7 4.5C7.61884 4.5 8.21233 4.73705 8.64992 5.15901C9.0875 5.58097 9.33333 6.15326 9.33333 6.75C9.33333 7.34674 9.0875 7.91903 8.64992 8.34099C8.21233 8.76295 7.61884 9 7 9ZM7 10.125C7.92826 10.125 8.8185 9.76942 9.47487 9.13649C10.1313 8.50355 10.5 7.64511 10.5 6.75C10.5 5.85489 10.1313 4.99645 9.47487 4.36351C8.8185 3.73058 7.92826 3.375 7 3.375C6.07174 3.375 5.1815 3.73058 4.52513 4.36351C3.86875 4.99645 3.5 5.85489 3.5 6.75C3.5 7.64511 3.86875 8.50355 4.52513 9.13649C5.1815 9.76942 6.07174 10.125 7 10.125V10.125Z">
    </path>
    </svg>
    </div>
    <div class="info">
    <a>Canada City, Office-02, Road-11, House-3B/B, Section-H</a>
    </div>
    </li>
    </ul>
    </div>
    </div>
    <div class="col-xl-12 col-md-6">
    <div class="single-location">
    <div class="title">
    <h4>New York, USA</h4>
    </div>
    <ul>
    <li>
    <div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
    <path d="M14.2333 11.1504C13.8642 10.7667 13.4191 10.5615 12.9473 10.5615C12.4794 10.5615 12.0304 10.7629 11.6462 11.1466L10.4439 12.3433C10.345 12.2901 10.2461 12.2407 10.151 12.1913C10.014 12.1229 9.88467 12.0583 9.77433 11.9899C8.64819 11.2757 7.62476 10.345 6.64319 9.14067C6.16762 8.54043 5.84804 8.03516 5.61596 7.52229C5.92793 7.23736 6.21708 6.94104 6.49861 6.65611C6.60514 6.54974 6.71167 6.43957 6.8182 6.33319C7.61715 5.5354 7.61715 4.50207 6.8182 3.70427L5.77955 2.66714C5.66161 2.54937 5.53987 2.4278 5.42573 2.30623C5.19746 2.07069 4.95777 1.82755 4.71047 1.59961C4.34143 1.2349 3.9001 1.04115 3.43595 1.04115C2.97179 1.04115 2.52286 1.2349 2.1424 1.59961L2.13479 1.60721L0.841243 2.91027C0.35426 3.39655 0.076528 3.9892 0.0156552 4.67682C-0.0756541 5.78614 0.251537 6.81947 0.502638 7.4957C1.11898 9.15587 2.03968 10.6945 3.41312 12.3433C5.07952 14.3301 7.08452 15.8991 9.37486 17.0047C10.2499 17.4187 11.4179 17.9088 12.7229 17.9924C12.8028 17.9962 12.8865 18 12.9626 18C13.8414 18 14.5795 17.6847 15.1578 17.0578C15.1616 17.0502 15.1692 17.0464 15.173 17.0388C15.3708 16.7995 15.5991 16.583 15.8388 16.3512C16.0024 16.1955 16.1698 16.0321 16.3334 15.8611C16.71 15.4698 16.9079 15.014 16.9079 14.5467C16.9079 14.0756 16.7062 13.6235 16.322 13.2436L14.2333 11.1504ZM15.5953 15.1507C15.5915 15.1545 15.5915 15.1507 15.5953 15.1507C15.4469 15.3103 15.2947 15.4547 15.1311 15.6142C14.8838 15.8498 14.6327 16.0967 14.3969 16.374C14.0126 16.7843 13.5599 16.9781 12.9664 16.9781C12.9093 16.9781 12.8484 16.9781 12.7913 16.9743C11.6614 16.9021 10.6113 16.4614 9.82379 16.0853C7.67042 15.0444 5.77955 13.5665 4.20827 11.6936C2.91092 10.1322 2.04348 8.68859 1.46899 7.13859C1.11517 6.19263 0.985816 5.45562 1.04288 4.7604C1.08093 4.31591 1.25214 3.94741 1.56791 3.63209L2.86527 2.33662C3.05169 2.16187 3.24953 2.06689 3.44356 2.06689C3.68324 2.06689 3.87728 2.21125 3.99902 2.33282L4.01044 2.34422C4.24251 2.56076 4.46318 2.78491 4.69526 3.02424C4.8132 3.14581 4.93494 3.26738 5.05669 3.39275L6.09533 4.42988C6.49861 4.83258 6.49861 5.20488 6.09533 5.60758C5.985 5.71775 5.87847 5.82792 5.76814 5.9343C5.44856 6.26101 5.14419 6.56494 4.8132 6.86126C4.80559 6.86886 4.79798 6.87266 4.79417 6.88025C4.46698 7.20697 4.52786 7.52609 4.59634 7.74263L4.60775 7.77682C4.87787 8.43026 5.25833 9.0457 5.83662 9.77891L5.84043 9.78271C6.89048 11.0744 7.99761 12.0811 9.21887 12.8523C9.37486 12.9511 9.53465 13.0309 9.68683 13.1069C9.82379 13.1752 9.95315 13.2398 10.0635 13.3082C10.0787 13.3158 10.0939 13.3272 10.1091 13.3348C10.2385 13.3994 10.3602 13.4298 10.4858 13.4298C10.8016 13.4298 10.9994 13.2322 11.0641 13.1676L12.3652 11.8684C12.4946 11.7392 12.7 11.5834 12.9397 11.5834C13.1756 11.5834 13.3696 11.7316 13.4876 11.8608L13.4952 11.8684L15.5915 13.9616C15.9834 14.3491 15.9834 14.748 15.5953 15.1507ZM9.72868 4.28172C10.7255 4.44888 11.631 4.91996 12.3538 5.64177C13.0767 6.36359 13.5446 7.26775 13.7159 8.2631C13.7577 8.51383 13.9746 8.68859 14.2219 8.68859C14.2523 8.68859 14.2789 8.68479 14.3094 8.68099C14.5909 8.6354 14.7773 8.36947 14.7317 8.08834C14.5262 6.88405 13.9555 5.78614 13.0843 4.91616C12.2131 4.04618 11.1135 3.47633 9.90749 3.27118C9.62596 3.22559 9.36344 3.41175 9.31398 3.68907C9.26452 3.9664 9.44714 4.23613 9.72868 4.28172ZM17.9922 7.94018C17.6536 5.95709 16.7176 4.15255 15.2795 2.71652C13.8414 1.28049 12.0342 0.345932 10.0483 0.00781895C9.77053 -0.0415684 9.50802 0.148383 9.45856 0.425712C9.4129 0.70684 9.59932 0.968972 9.88086 1.01836C11.6538 1.31848 13.2707 2.15807 14.5567 3.43834C15.8426 4.72241 16.6796 6.33699 16.9802 8.10734C17.022 8.35808 17.2389 8.53283 17.4862 8.53283C17.5166 8.53283 17.5432 8.52903 17.5737 8.52523C17.8514 8.48344 18.0416 8.21751 17.9922 7.94018Z">
    </path>
    </svg>
    </div>
    <div class="info">
    <a href="tel:0921772345432">+092-177-234 5432</a>
    <a href="tel:0921772344663">+092-177-234 4663</a>
    </div>
    </li>
    <li>
    <div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
    <path d="M0 4.5C0 3.90326 0.237053 3.33097 0.65901 2.90901C1.08097 2.48705 1.65326 2.25 2.25 2.25H15.75C16.3467 2.25 16.919 2.48705 17.341 2.90901C17.7629 3.33097 18 3.90326 18 4.5V13.5C18 14.0967 17.7629 14.669 17.341 15.091C16.919 15.5129 16.3467 15.75 15.75 15.75H2.25C1.65326 15.75 1.08097 15.5129 0.65901 15.091C0.237053 14.669 0 14.0967 0 13.5V4.5ZM2.25 3.375C1.95163 3.375 1.66548 3.49353 1.4545 3.7045C1.24353 3.91548 1.125 4.20163 1.125 4.5V4.74412L9 9.46912L16.875 4.74412V4.5C16.875 4.20163 16.7565 3.91548 16.5455 3.7045C16.3345 3.49353 16.0484 3.375 15.75 3.375H2.25ZM16.875 6.05587L11.5785 9.234L16.875 12.4931V6.05587ZM16.8368 13.7914L10.4918 9.8865L9 10.7809L7.50825 9.8865L1.16325 13.7903C1.22718 14.0296 1.36836 14.2412 1.56486 14.3922C1.76137 14.5431 2.00221 14.625 2.25 14.625H15.75C15.9976 14.625 16.2384 14.5434 16.4349 14.3926C16.6313 14.2419 16.7726 14.0306 16.8368 13.7914ZM1.125 12.4931L6.4215 9.234L1.125 6.05587V12.4931Z"></path>
    </svg>
    </div>
    <div class="info">
    <a href="mailto:infoexample@gmail.com">infoexample@gmail.com</a>
    <a href="mailto:infoexample2@gmail.com">infoexample2@gmail.com</a>
    </div>
    </li>
    <li>
    <div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18">
    <path d="M11.8603 10.0575C11.249 11.2522 10.4207 12.4425 9.57367 13.5113C8.77018 14.5188 7.91105 15.484 7 16.4025C6.08893 15.484 5.2298 14.5188 4.42633 13.5113C3.57933 12.4425 2.751 11.2522 2.13967 10.0575C1.52133 8.85037 1.16667 7.71975 1.16667 6.75C1.16667 5.25816 1.78125 3.82742 2.87521 2.77252C3.96917 1.71763 5.4529 1.125 7 1.125C8.5471 1.125 10.0308 1.71763 11.1248 2.77252C12.2188 3.82742 12.8333 5.25816 12.8333 6.75C12.8333 7.71975 12.4775 8.85037 11.8603 10.0575ZM7 18C7 18 14 11.6033 14 6.75C14 4.95979 13.2625 3.2429 11.9497 1.97703C10.637 0.711159 8.85652 0 7 0C5.14348 0 3.36301 0.711159 2.05025 1.97703C0.737498 3.2429 2.76642e-08 4.95979 0 6.75C0 11.6033 7 18 7 18Z">
    </path>
    <path d="M7 9C6.38116 9 5.78767 8.76295 5.35008 8.34099C4.9125 7.91903 4.66667 7.34674 4.66667 6.75C4.66667 6.15326 4.9125 5.58097 5.35008 5.15901C5.78767 4.73705 6.38116 4.5 7 4.5C7.61884 4.5 8.21233 4.73705 8.64992 5.15901C9.0875 5.58097 9.33333 6.15326 9.33333 6.75C9.33333 7.34674 9.0875 7.91903 8.64992 8.34099C8.21233 8.76295 7.61884 9 7 9ZM7 10.125C7.92826 10.125 8.8185 9.76942 9.47487 9.13649C10.1313 8.50355 10.5 7.64511 10.5 6.75C10.5 5.85489 10.1313 4.99645 9.47487 4.36351C8.8185 3.73058 7.92826 3.375 7 3.375C6.07174 3.375 5.1815 3.73058 4.52513 4.36351C3.86875 4.99645 3.5 5.85489 3.5 6.75C3.5 7.64511 3.86875 8.50355 4.52513 9.13649C5.1815 9.76942 6.07174 10.125 7 10.125V10.125Z">
    </path>
    </svg>
    </div>
    <div class="info">
    <a>Canada City, Office-02, Road-11, House-3B/B, Section-H</a>
    </div>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-8">
    <div class="contact-form-wrap">
    <form>
    <div class="row">
    <div class="col-md-6">
    <div class="form-inner mb-30">
    <label>Full Name*</label>
    <input type="text" placeholder="Daniel Scoot">
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-inner mb-30">
    <label>Your Email*</label>
    <input type="email" placeholder="example@gamil.com">
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-inner mb-30">
    <label>Phone Number <span>(Optional)</span></label>
    <input type="text" placeholder="+920- 5566 **** ****">
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-inner mb-30">
    <label>Subject</label>
    <input type="text" placeholder="Web Develop">
    </div>
    </div>
    <div class="col-md-12">
    <div class="form-inner mb-30">
    <label>How can We Help You?</label>
    <textarea placeholder="What’s on your mind"></textarea>
    </div>
    </div>
    <div class="col-md-12 mb-50">
    <div class="form-inner2">
    <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="contactCheck">
    <label class="form-check-label" for="contactCheck">
    Please save my name, email address for the next time I
    message.
    </label>
    </div>
    </div>
    </div>
    </div>
    <div class="form-inner">
    <button class="primary-btn3 btn-hover" type="submit">
    Submit Now
    <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
    <path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z">
    </path>
    </svg>
    <span></span>
    </button>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div> -->

<%- include('footer') %>

</main>


<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/assets/js/jquery-3.7.1.min.js"></script>

<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<script src="/assets/js/swiper-bundle.min.js"></script>
<script src="/assets/js/slick.min.js"></script>

<script src="/assets/js/waypoints.min.js"></script>

<script src="/assets/js/jquery.counterup.min.js"></script>

<script src="/assets/js/jquery.nice-select.min.js"></script>

<script src="/assets/js/jquery.fancybox.min.js"></script>

<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>

<script src="/assets/js/gsap.min.js"></script>
<script src="/assets/js/ScrollTrigger.min.js"></script>
<script src="/assets/js/SmoothScroll.js"></script>
<script src="/assets/js/simpleParallax.min.js"></script>
<script src="/assets/js/TweenMax.min.js"></script>
<script src="/assets/js/SplitText.min.js"></script>

<script src="/assets/js/jquery.marquee.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>