<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/assets/css/bootstrap.min.css" rel="stylesheet">

<link href="/assets/css/bootstrap-icons.css" rel="stylesheet">

<link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">

<link rel="stylesheet" href="/assets/css/nice-select.css">

<link rel="stylesheet" href="/assets/css/animate.min.css">
<link rel="stylesheet" href="/assets/css/jquery.fancybox.min.css">

<link href="/assets/css/boxicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/style.css">

<title>Zmedios | Home</title>
<link rel="icon" href="/assets/img/sm-logo.svg" type="image/gif" sizes="20x20">
<style>
    /* Base alert styling */
.alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    animation: fadeInOut 4s forwards;
}

/* Success alert styling */
.alert-success {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
}

/* Error alert styling */
.alert-danger {
    background-color: #dc3545;
    color: white;
    border-color: #dc3545;
}

/* Animation for the alert (fade in and then fade out) */
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

</style>

</head>
<body id="body" class=" tt-magic-cursor home1-bg">



<%- include('header') %>

<main class="page-content">

<div class="line_wrap">
<div class="line_item first-line"></div>
<div class="line_item center-line"></div>
<div class="line_item last-line"></div>
</div>


<div class="home1-banner-area">
<div class="container-lg container-fluid">
<div class="row">
<div class="col-lg-12">
<div class="banner-main-title">
<!-- <h6 class="text-animation">Hey There! We are
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
<path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z" />
</svg> -->
<svg class="star" xmlns="http://www.w3.org/2000/svg" width="45" height="36" viewBox="0 0 45 36">
<path d="M41.0654 13.6409C35.2972 11.1608 31.0569 6.12526 29.8727 0C28.6885 6.12526 24.4483 11.1608 18.68 13.6409C17.5722 14.1294 14.7454 14.881 14.7454 14.881C14.7454 14.881 17.534 15.6326 18.68 16.1211C24.4483 18.6013 28.6885 23.6743 29.8727 29.762C31.0569 23.6367 35.2972 18.6013 41.0654 16.1211C42.1732 15.6326 45 14.881 45 14.881C45 14.881 42.2114 14.1294 41.0654 13.6409Z" />
<path d="M17.1903 26.4927C13.7523 25.0271 11.2693 22.0209 10.5435 18.4134C9.85588 22.0209 7.33466 25.0271 3.89663 26.4927C3.24722 26.7933 1.56641 27.2067 1.56641 27.2067C1.56641 27.2067 3.20902 27.6576 3.89663 27.9207C7.33466 29.3862 9.81768 32.3925 10.5435 36C11.2693 32.4301 13.7523 29.4238 17.1903 27.9582C17.8398 27.6576 19.5206 27.2443 19.5206 27.2443C19.5206 27.2443 17.8398 26.7933 17.1903 26.4927Z" />
<path d="M44.3888 27.2443C44.3888 28.1086 43.663 28.785 42.8226 28.785C41.944 28.785 41.2563 28.071 41.2563 27.2443C41.2563 26.38 41.9822 25.7036 42.8226 25.7036C43.663 25.666 44.3888 26.38 44.3888 27.2443Z" />
<path d="M15.3185 5.82463C15.3185 6.68893 14.5927 7.36534 13.7522 7.36534C12.8736 7.36534 12.186 6.65135 12.186 5.82463C12.186 4.96033 12.9118 4.28392 13.7522 4.28392C14.6309 4.28392 15.3185 4.96033 15.3185 5.82463Z" />
<path d="M1.56621 16.4217C2.43121 16.4217 3.13243 15.7319 3.13243 14.881C3.13243 14.0301 2.43121 13.3403 1.56621 13.3403C0.701218 13.3403 0 14.0301 0 14.881C0 15.7319 0.701218 16.4217 1.56621 16.4217Z" />
</svg>
</h6>
<h1 class="text-animation" style="text-transform: capitalize;"><span>HIRE </span>top-tier <i style="font-style: normal; color: #F76532;">software developers</i></h1>
</div>
</div>
</div>
</div>
<div class="container-fluid">
<div class="banner-bottom">
<div class="row">
<div class="col-lg-7 d-lg-flex d-none">
<div class="banner-img magnetic-item">
<img src="/assets/img/home1/banner-img.jpg" alt>
</div>
</div>
<div class="col-lg-5">
<div class="banner-right-content">
<div class="content">
<p class="mt-60">We are a business at the forefront of digital innovation, offering comprehensive services in <span> online marketing, web development, design, and bespoke digital solutions </span> to elevate our clients' presence in the digital realm.
</p>
<ul class="btn-group">
<li class="success-rate">Success Rate <span>90%</span>
</li>
<li class="success-rate">Clients satisfaction <span>100%</span>
</li>
</ul>
</div>
<div class="banner-btn btn_wrapper">
<a class="btn-hover" href="/about">
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
</svg> Explore <br> Now
<span></span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="partner-area pt-130 mb-130">
<div class="container-lg container-fluid">
<div class="row">
<div class="col-lg-12">
<div class="partner-wrap">
<div class="title1">
<h6>Our Trusted Partner</h6>
</div>
<div class="marquee light">
    <div class="marquee__group">
        
        <a href="#"><img src="/assets/img/clients/carritos.png" alt="carritos"></a>
        <a href="#"><img style="border-radius: 50%;" src="/assets/img/clients/railtel.png" alt="railtel"></a>
        <a href="#"><img src="/assets/img/clients/coalgiene.png" alt="coalgene"></a>
        <a href="#"><img src="/assets/img/clients/dancewala.png" alt="dancewala"></a>
        <a href="#"><img src="/assets/img/clients/discovery.png" alt="discovery"></a>
        <a href="#"><img src="/assets/img/clients/furniture.png" alt="furniture"></a>
        
        <a href="#"><img src="/assets/img/clients/intech.png" alt="intech"></a>
        <a href="#"><img src="/assets/img/clients/jindal.png" alt="jindal"></a>
        <a href="#"><img src="/assets/img/clients/kazuki.png" alt="kazuki"></a>
        <a href="#"><img src="/assets/img/clients/logo1.png" alt="logo1"></a>
        <a href="#"><img src="/assets/img/clients/logo2.png" alt="logo2"></a>
        <a href="#"><img src="/assets/img/clients/logo3.png" alt="logo3"></a>
        <a href="#"><img src="/assets/img/clients/logo4.png" alt="logo4"></a>
        <a href="#"><img src="/assets/img/clients/logo5.png" alt="logo5"></a>
        <a href="#"><img src="/assets/img/clients/logo7.png" alt="logo7"></a>
        <a href="#"><img src="/assets/img/clients/logo8.png" alt="logo8"></a>
        <a href="#"><img src="/assets/img/clients/logo9.png" alt="logo9"></a>
        <a href="#"><img src="/assets/img/clients/logo10.png" alt="logo10"></a>
        <a href="#"><img src="/assets/img/clients/logo11.png" alt="logo11"></a>
        <a href="#"><img src="/assets/img/clients/lords.png" alt="lords"></a>
        <a href="#"><img src="/assets/img/clients/nestohub.png" alt="nestohub"></a>
        <a href="#"><img src="/assets/img/clients/peptone.png" alt="peptone"></a>
        <a href="#"><img src="/assets/img/clients/ripik.png" alt="ripik"></a>
    </div>
    <div aria-hidden="true" class="marquee__group">
        <a href="#"><img src="/assets/img/clients/carritos.png" alt="carritos"></a>
        <a href="#"><img src="/assets/img/clients/coalgiene.png" alt="coalgene"></a>
        <a href="#"><img src="/assets/img/clients/dancewala.png" alt="dancewala"></a>
        <a href="#"><img src="/assets/img/clients/discovery.png" alt="discovery"></a>
        <a href="#"><img src="/assets/img/clients/furniture.png" alt="furniture"></a>
        
        <a href="#"><img src="/assets/img/clients/intech.png" alt="intech"></a>
        <a href="#"><img src="/assets/img/clients/jindal.png" alt="jindal"></a>
        <a href="#"><img src="/assets/img/clients/kazuki.png" alt="kazuki"></a>
        <a href="#"><img src="/assets/img/clients/logo1.png" alt="logo1"></a>
        <a href="#"><img src="/assets/img/clients/logo2.png" alt="logo2"></a>
        <a href="#"><img src="/assets/img/clients/logo3.png" alt="logo3"></a>
        <a href="#"><img src="/assets/img/clients/logo4.png" alt="logo4"></a>
        <a href="#"><img src="/assets/img/clients/logo5.png" alt="logo5"></a>
        <a href="#"><img src="/assets/img/clients/logo7.png" alt="logo7"></a>
        <a href="#"><img src="/assets/img/clients/logo8.png" alt="logo8"></a>
        <a href="#"><img src="/assets/img/clients/logo9.png" alt="logo9"></a>
        <a href="#"><img src="/assets/img/clients/logo10.png" alt="logo10"></a>
        <a href="#"><img src="/assets/img/clients/logo11.png" alt="logo11"></a>
        <a href="#"><img src="/assets/img/clients/lords.png" alt="lords"></a>
        <a href="#"><img src="/assets/img/clients/nestohub.png" alt="nestohub"></a>
        <a href="#"><img src="/assets/img/clients/peptone.png" alt="peptone"></a>
        <a href="#"><img src="/assets/img/clients/ripik.png" alt="ripik"></a>
    </div>
</div>

<div class="marquee dark">
<div class="marquee__group">
<a href="#"><img src="/assets/img/clients/carritos.png" alt="carritos"></a>
        <a href="#"><img src="/assets/img/clients/coalgiene.png" alt="coalgene"></a>
        <a href="#"><img style="border-radius: 50%;" src="/assets/img/clients/railtel.png" alt="railtel"></a>
        <a href="#"><img src="/assets/img/clients/dancewala.png" alt="dancewala"></a>
        <a href="#"><img src="/assets/img/clients/discovery.png" alt="discovery"></a>
        <a href="#"><img src="/assets/img/clients/furniture.png" alt="furniture"></a>
        
        <a href="#"><img src="/assets/img/clients/intech.png" alt="intech"></a>
        <a href="#"><img src="/assets/img/clients/jindal.png" alt="jindal"></a>
        <a href="#"><img src="/assets/img/clients/kazuki.png" alt="kazuki"></a>
        <a href="#"><img src="/assets/img/clients/logo1.png" alt="logo1"></a>
        <a href="#"><img src="/assets/img/clients/logo2.png" alt="logo2"></a>
        <a href="#"><img src="/assets/img/clients/logo3.png" alt="logo3"></a>
        <a href="#"><img src="/assets/img/clients/logo4.png" alt="logo4"></a>
        <a href="#"><img src="/assets/img/clients/logo5.png" alt="logo5"></a>
        <a href="#"><img src="/assets/img/clients/logo7.png" alt="logo7"></a>
        <a href="#"><img src="/assets/img/clients/logo8.png" alt="logo8"></a>
        <a href="#"><img src="/assets/img/clients/logo9.png" alt="logo9"></a>
        <a href="#"><img src="/assets/img/clients/logo10.png" alt="logo10"></a>
        <a href="#"><img src="/assets/img/clients/logo11.png" alt="logo11"></a>
        <a href="#"><img src="/assets/img/clients/lords.png" alt="lords"></a>
        <a href="#"><img src="/assets/img/clients/nestohub.png" alt="nestohub"></a>
        <a href="#"><img src="/assets/img/clients/peptone.png" alt="peptone"></a>
        <a href="#"><img src="/assets/img/clients/ripik.png" alt="ripik"></a>
</div>
<div aria-hidden="true" class="marquee__group">
<a href="#"><img src="/assets/img/clients/carritos.png" alt="carritos"></a>
        <a href="#"><img src="/assets/img/clients/coalgiene.png" alt="coalgene"></a>
        <a href="#"><img src="/assets/img/clients/dancewala.png" alt="dancewala"></a>
        <a href="#"><img src="/assets/img/clients/discovery.png" alt="discovery"></a>
        <a href="#"><img src="/assets/img/clients/furniture.png" alt="furniture"></a>
        
        <a href="#"><img src="/assets/img/clients/intech.png" alt="intech"></a>
        <a href="#"><img src="/assets/img/clients/jindal.png" alt="jindal"></a>
        <a href="#"><img src="/assets/img/clients/kazuki.png" alt="kazuki"></a>
        <a href="#"><img src="/assets/img/clients/logo1.png" alt="logo1"></a>
        <a href="#"><img src="/assets/img/clients/logo2.png" alt="logo2"></a>
        <a href="#"><img src="/assets/img/clients/logo3.png" alt="logo3"></a>
        <a href="#"><img src="/assets/img/clients/logo4.png" alt="logo4"></a>
        <a href="#"><img src="/assets/img/clients/logo5.png" alt="logo5"></a>
        <a href="#"><img src="/assets/img/clients/logo7.png" alt="logo7"></a>
        <a href="#"><img src="/assets/img/clients/logo8.png" alt="logo8"></a>
        <a href="#"><img src="/assets/img/clients/logo9.png" alt="logo9"></a>
        <a href="#"><img src="/assets/img/clients/logo10.png" alt="logo10"></a>
        <a href="#"><img src="/assets/img/clients/logo11.png" alt="logo11"></a>
        <a href="#"><img src="/assets/img/clients/lords.png" alt="lords"></a>
        <a href="#"><img src="/assets/img/clients/nestohub.png" alt="nestohub"></a>
        <a href="#"><img src="/assets/img/clients/peptone.png" alt="peptone"></a>
        <a href="#"><img src="/assets/img/clients/ripik.png" alt="ripik"></a>
</div>
</div>
<div class="title2">
<h6>More than 20 Partner we have</h6>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="home1-about-section mb-130">
<div class="container-lg container-fluid">
<div class="row g-4 mb-60">
<div class="col-lg-4">
<div class="sub-title two text-animation">
<h6>Who We Are
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
<path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z" />
</svg>
</h6>
</div>
</div>
<div class="col-lg-8">
<div class="section-title two text-animation">
<h2>Zmedios is a business that provides services related to online marketing.</h2>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-4 d-lg-flex d-none justify-content-end align-items-start">
<div class="about-left animet-images magnetic-item pt-30">
<img src="/assets/img/home1/about-left.jpg" alt>
</div>
</div>
<div class="col-lg-8">
<div class="row g-lg-4 gy-5 align-items-xl-center">
<div class="col-lg-5">
<div class="about-right-img animet-images magnetic-item">
<img src="/assets/img/home1/about-right.jpg" alt>
</div>
</div>
<div class="col-lg-7">
<div class="about-content text-animation">
<p>Digital agencies can vary in size and specialization. Some may focus on
specific
niches, such as healthcare or e-commerce, while others may offer a
comprehensive.</p>
<a href="/about">About More
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
</svg>
</a>
<div class="signature-and-star text-animation">
<div class="signature">
<img src="/assets/img/home1/Signature.png" alt>
</div>
<div class="star">
<svg xmlns="http://www.w3.org/2000/svg" width="150" height="145" viewBox="0 0 150 145">
<g>
<path d="M150 60.2308H105.604L137.033 29.8498L119.011 12.5348L87.6923 42.9158V0H62.3077V42.9158L30.8791 12.5348L12.967 29.8498L44.3956 60.2308H0V84.7692H44.3956L12.967 115.044L30.8791 132.465L62.3077 102.084V145H87.6923V102.084L119.011 132.465L137.033 115.044L105.604 84.7692H150V60.2308Z" />
</g>
</svg>
</div>
</div>
</div>
</div>
</div>
<ul class="counter-wrap">
<li class="single-counter">
<div class="content">
<div class="number">
<h2 class="counter">70</h2>
<span>+</span>
</div>
<p>Professional Experts</p>
</div>
</li>
<li class="single-counter">
<div class="content">
<div class="number">
<h2 class="counter">20</h2>
<span>+</span>
</div>
<p>Projects Complete</p>
</div>
</li>
<li class="single-counter">
<div class="content">
<div class="number">
<h2 class="counter">16</h2>
<span>+</span>
</div>
<p>World-wide Clients</p>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>


<div class="home1-solution-section pb-130">
<div class="vector d-lg-flex d-none">
<svg width="300" height="372" viewBox="0 0 300 372" fill="none" xmlns="http://www.w3.org/2000/svg">
<g>
<circle cx="-20" cy="320" r="270" stroke-width="100" />
</g>
</svg>
</div>
<div class="container-lg container-fluid">
<div class="row g-4 mb-60">
<div class="col-lg-4">
<div class="sub-title text-animation">
<h6>Solution Provide
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
<path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z" />
</svg>
</h6>
</div>
</div>
<div class="col-lg-8">
<div class="section-title text-animation">
<h2>TO PROVIDE SMART <br>
<span>SOLUTION.</span>
</h2>
<div class="dash-and-paragraph">
<div class="dash"></div>
<p>We offer a wide range of services to help businesses establish and enhance their 
online 
presence.</p>
</div>
</div>
</div>
</div>
<div class="row g-lg-4 gy-5">
<div class="col-lg-4">
<ul class="solution-img-wrapper text-animation">
<li class="active">
<div class="solution-img" style="background-image: url(/assets/img/home1/solution-01.jpg);">
</div>
</li>
<li>
<div class="solution-img" style="background-image: url(/assets/img/home1/solution-02.jpg);">
</div>
</li>
<li>
<div class="solution-img" style="background-image: url(/assets/img/home1/solution-03.jpg);">
</div>
</li>
<li>
<div class="solution-img" style="background-image: url(/assets/img/home1/solution-04.jpg);">
</div>
</li>
<li>
<div class="solution-img" style="background-image: url(/assets/img/home1/solution-05.jpg);">
</div>
</li>
</ul>
</div>
<div class="col-lg-8">
<div class="accordion accordion-flush" id="accordionFlushExample">
<div class="accordion-item">
<h3 class="accordion-header" id="flush-headingOne">
<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
1. Graphics Design
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
<path fill-rule="evenodd" clip-rule="evenodd" d="M5.42387 0C5.57582 0 5.72154 0.0585322 5.82898 0.16272C5.93642 0.266908 5.99679 0.408218 5.99679 0.555562V8.10343L9.02923 5.16284C9.13729 5.06164 9.28201 5.00564 9.43222 5.00691C9.58244 5.00817 9.72614 5.0666 9.83236 5.16961C9.93858 5.27261 9.99884 5.41195 10.0001 5.55762C10.0014 5.70329 9.9437 5.84362 9.83934 5.9484L5.82892 9.83734C5.72148 9.94149 5.57579 10 5.42387 10C5.27195 10 5.12625 9.94149 5.01882 9.83734L1.0084 5.9484C0.953682 5.89716 0.910035 5.83585 0.880009 5.76807C0.849983 5.70029 0.834179 5.62739 0.833518 5.55362C0.832857 5.47986 0.847352 5.4067 0.876159 5.33842C0.904966 5.27015 0.947507 5.20812 1.0013 5.15595C1.05509 5.10379 1.11906 5.06254 1.18947 5.0346C1.25988 5.00667 1.33532 4.99261 1.41139 4.99325C1.48746 4.99389 1.56264 5.00922 1.63254 5.03834C1.70244 5.06745 1.76566 5.10978 1.8185 5.16284L4.85095 8.10343V0.555562C4.85095 0.408218 4.91131 0.266908 5.01876 0.16272C5.1262 0.0585322 5.27192 0 5.42387 0Z" />
</svg>
</span>
</button>
</h3>
<div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
<div class="accordion-body">
<ul>
<li><a href="#">Banners</a></li>
<li><a href="#">Logos</a></li>
<li><a href="#">Infographics</a></li>
<li><a href="#">Visiting Card</a></li>
<li><a href="#">Brochure</a></li>
<li><a href="#">Printing</a></li>
</ul>
<p>Creating visually appealing graphics, including logos, banners,
infographics,
and other branding materials.</p>
<a class="explore-btn" href="/services/graphics">
Explore More
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
</svg>
</a>
</div>
</div>
</div>
<div class="accordion-item">
    <h3 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            2. Web Development
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.42387 0C5.57582 0 5.72154 0.0585322 5.82898 0.16272C5.93642 0.266908 5.99679 0.408218 5.99679 0.555562V8.10343L9.02923 5.16284C9.13729 5.06164 9.28201 5.00564 9.43222 5.00691C9.58244 5.00817 9.72614 5.0666 9.83236 5.16961C9.93858 5.27261 9.99884 5.41195 10.0001 5.55762C10.0014 5.70329 9.9437 5.84362 9.83934 5.9484L5.82892 9.83734C5.72148 9.94149 5.57579 10 5.42387 10C5.27195 10 5.12625 9.94149 5.01882 9.83734L1.0084 5.9484C0.953682 5.89716 0.910035 5.83585 0.880009 5.76807C0.849983 5.70029 0.834179 5.62739 0.833518 5.55362C0.832857 5.47986 0.847352 5.4067 0.876159 5.33842C0.904966 5.27015 0.947507 5.20812 1.0013 5.15595C1.05509 5.10379 1.11906 5.06254 1.18947 5.0346C1.25988 5.00667 1.33532 4.99261 1.41139 4.99325C1.48746 4.99389 1.56264 5.00922 1.63254 5.03834C1.70244 5.06745 1.76566 5.10978 1.8185 5.16284L4.85095 8.10343V0.555562C4.85095 0.408218 4.91131 0.266908 5.01876 0.16272C5.1262 0.0585322 5.27192 0 5.42387 0Z" />
                </svg>
            </span>
        </button>
    </h3>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <ul>
                <li><a href="#">Landing Pages</a></li>
                <li><a href="#">E-commerce Solutions</a></li>
                <li><a href="#">SEO Optimization</a></li>
                <li><a href="#">Responsive Design</a></li>
                <li><a href="#">CMS Development</a></li>
                <li><a href="#">Web Applications</a></li>
            </ul>
            <p>Building state-of-the-art websites and web applications, from captivating landing pages to comprehensive e-commerce solutions. Specializing in SEO optimization and responsive design to ensure your website stands out and performs well across all devices.</p>
            <a class="explore-btn" href="/services/web">
                Explore More
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                    <path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
                </svg>
            </a>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h3 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            3. Mobile App Development
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.42387 0C5.57582 0 5.72154 0.0585322 5.82898 0.16272C5.93642 0.266908 5.99679 0.408218 5.99679 0.555562V8.10343L9.02923 5.16284C9.13729 5.06164 9.28201 5.00564 9.43222 5.00691C9.58244 5.00817 9.72614 5.0666 9.83236 5.16961C9.93858 5.27261 9.99884 5.41195 10.0001 5.55762C10.0014 5.70329 9.9437 5.84362 9.83934 5.9484L5.82892 9.83734C5.72148 9.94149 5.57579 10 5.42387 10C5.27195 10 5.12625 9.94149 5.01882 9.83734L1.0084 5.9484C0.953682 5.89716 0.910035 5.83585 0.880009 5.76807C0.849983 5.70029 0.834179 5.62739 0.833518 5.55362C0.832857 5.47986 0.847352 5.4067 0.876159 5.33842C0.904966 5.27015 0.947507 5.20812 1.0013 5.15595C1.05509 5.10379 1.11906 5.06254 1.18947 5.0346C1.25988 5.00667 1.33532 4.99261 1.41139 4.99325C1.48746 4.99389 1.56264 5.00922 1.63254 5.03834C1.70244 5.06745 1.76566 5.10978 1.8185 5.16284L4.85095 8.10343V0.555562C4.85095 0.408218 4.91131 0.266908 5.01876 0.16272C5.1262 0.0585322 5.27192 0 5.42387 0Z" />
                </svg>
            </span>
        </button>
    </h3>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <ul>
                <li><a href="#">Native Mobile Apps</a></li>
                <li><a href="#">Cross-Platform Apps</a></li>
                <li><a href="#">UI/UX Design for Apps</a></li>
                <li><a href="#">Mobile App Prototyping</a></li>
                <li><a href="#">App Testing & QA</a></li>
                <li><a href="#">App Maintenance & Support</a></li>
            </ul>
            <p>Delivering top-notch mobile app development services to create engaging, user-friendly, and robust mobile applications. From ideation to launch and beyond, we ensure your app meets your business needs and exceeds user expectations.</p>
            <a class="explore-btn" href="/services/mobile">
                Explore More
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                    <path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
                </svg>
            </a>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h3 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            4. Digital Marketing
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.42387 0C5.57582 0 5.72154 0.0585322 5.82898 0.16272C5.93642 0.266908 5.99679 0.408218 5.99679 0.555562V8.10343L9.02923 5.16284C9.13729 5.06164 9.28201 5.00564 9.43222 5.00691C9.58244 5.00817 9.72614 5.0666 9.83236 5.16961C9.93858 5.27261 9.99884 5.41195 10.0001 5.55762C10.0014 5.70329 9.9437 5.84362 9.83934 5.9484L5.82892 9.83734C5.72148 9.94149 5.57579 10 5.42387 10C5.27195 10 5.12625 9.94149 5.01882 9.83734L1.0084 5.9484C0.953682 5.89716 0.910035 5.83585 0.880009 5.76807C0.849983 5.70029 0.834179 5.62739 0.833518 5.55362C0.832857 5.47986 0.847352 5.4067 0.876159 5.33842C0.904966 5.27015 0.947507 5.20812 1.0013 5.15595C1.05509 5.10379 1.11906 5.06254 1.18947 5.0346C1.25988 5.00667 1.33532 4.99261 1.41139 4.99325C1.48746 4.99389 1.56264 5.00922 1.63254 5.03834C1.70244 5.06745 1.76566 5.10978 1.8185 5.16284L4.85095 8.10343V0.555562C4.85095 0.408218 4.91131 0.266908 5.01876 0.16272C5.1262 0.0585322 5.27192 0 5.42387 0Z" />
                </svg>
            </span>
        </button>
    </h3>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <ul>
                <li><a href="#">Search Engine Optimization (SEO)</a></li>
                <li><a href="#">Pay-Per-Click Advertising (PPC)</a></li>
                <li><a href="#">Social Media Marketing</a></li>
                <li><a href="#">Content Marketing</a></li>
                <li><a href="#">Email Marketing</a></li>
                <li><a href="#">Influencer Marketing</a></li>
            </ul>
            <p>Empowering brands through comprehensive digital marketing strategies that enhance visibility, engagement, and conversion. We leverage the latest tools and techniques in SEO, PPC, social media, content, email, and influencer marketing to connect your brand with its target audience and drive results.</p>
            <a class="explore-btn" href="/services/marketing">
                Explore More
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                    <path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
                </svg>
            </a>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h3 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            5. Mastering Data Science
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.42387 0C5.57582 0 5.72154 0.0585322 5.82898 0.16272C5.93642 0.266908 5.99679 0.408218 5.99679 0.555562V8.10343L9.02923 5.16284C9.13729 5.06164 9.28201 5.00564 9.43222 5.00691C9.58244 5.00817 9.72614 5.0666 9.83236 5.16961C9.93858 5.27261 9.99884 5.41195 10.0001 5.55762C10.0014 5.70329 9.9437 5.84362 9.83934 5.9484L5.82892 9.83734C5.72148 9.94149 5.57579 10 5.42387 10C5.27195 10 5.12625 9.94149 5.01882 9.83734L1.0084 5.9484C0.953682 5.89716 0.910035 5.83585 0.880009 5.76807C0.849983 5.70029 0.834179 5.62739 0.833518 5.55362C0.832857 5.47986 0.847352 5.4067 0.876159 5.33842C0.904966 5.27015 0.947507 5.20812 1.0013 5.15595C1.05509 5.10379 1.11906 5.06254 1.18947 5.0346C1.25988 5.00667 1.33532 4.99261 1.41139 4.99325C1.48746 4.99389 1.56264 5.00922 1.63254 5.03834C1.70244 5.06745 1.76566 5.10978 1.8185 5.16284L4.85095 8.10343V0.555562C4.85095 0.408218 4.91131 0.266908 5.01876 0.16272C5.1262 0.0585322 5.27192 0 5.42387 0Z" />
                </svg>
            </span>
        </button>
    </h3>
    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <ul>
                <li><a href="#">Machine Learning Models</a></li>
                <li><a href="#">Data Analysis & Visualization</a></li>
                <li><a href="#">Deep Learning Techniques</a></li>
                <li><a href="#">Natural Language Processing (NLP)</a></li>
                <li><a href="#">Predictive Analytics</a></li>
                <li><a href="#">AI Strategy & Consulting</a></li>
            </ul>
            <p>Unlock the power of data with our comprehensive Machine Learning and Data Training services. From predictive analytics to natural language processing, our expertise in cutting-edge technologies transforms data into actionable insights and innovative solutions for your business.</p>
            <a class="explore-btn" href="/services/datascience">
                Explore More
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                    <path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z" />
                </svg>
            </a>
        </div>
    </div>
</div>

</div>
</div>
</div>
</div>
</div>


<div class="work-section">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="section-title-2 scroll-sec-title text-center mb-60">
<h2>
Our Work
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
<g>
<path d="M50 20.7692H35.2015L45.6777 10.293L39.6703 4.32234L29.2308 14.7985V0H20.7692V14.7985L10.293 4.32234L4.32234 10.293L14.7985 20.7692H0V29.2308H14.7985L4.32234 39.6703L10.293 45.6777L20.7692 35.2015V50H29.2308V35.2015L39.6703 45.6777L45.6777 39.6703L35.2015 29.2308H50V20.7692Z" />
</g>
</svg>
</h2>
</div>
</div>
</div>
<div class="row mb-80">
<div class="col-lg-12">
<div class="row mb-80 g-lg-0 gy-5 justify-content-between ">
<div class="col-lg-5">
<div class="single-work magnetic-item">
<div class="work-img">
<img src="/assets/img/home1/work-img-01.jpg" alt>
</div>
<div class="work-content">
<div class="content-wrap">
<h5><a href="#">Branding Design</a></h5>
<ul>
<li><a href="#">Web Design</a></li>
<li><a href="#">Development</a></li>
<li><a href="#">Software</a></li>
</ul>
<div class="view-details-wrap">
<a href="#" class="active"><span>View
Details</span> <span><i class="bi bi-plus"></i></span></a>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="single-work magnetic-item">
<div class="work-img">
<img src="/assets/img/home1/work-img-02.jpg" alt>
</div>
<div class="work-content">
<div class="content-wrap">
<h5><a href="#">UI/UX Design</a></h5>
<ul>
<li><a href="#">Prototype</a></li>
<li><a href="#">Color</a></li>
<li><a href="#">Typography</a></li>
<li><a href="#">Visual</a></li>
</ul>
<div class="view-details-wrap">
<a href="#" class="active"><span>View
Details</span> <span><i class="bi bi-plus"></i></span></a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row mb-80 g-lg-0 gy-5 justify-content-between">
<div class="col-lg-12">
<div class="single-work magnetic-item">
<div class="work-img">
<img src="/assets/img/home1/work-img-03.jpg" alt>
</div>
<div class="work-content">
<div class="content-wrap">
<h5><a href="#">Email Marketing</a></h5>
<ul>
<li><a href="#">Testing</a></li>
<li><a href="#">Color</a></li>
<li><a href="#">Campaign</a></li>
<li><a href="#">Segmentation</a></li>
</ul>
<div class="view-details-wrap">
<a href="#" class="active">
<span>View Details</span>
<span><i class="bi bi-plus"></i></span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row  g-lg-0 gy-5 justify-content-between">
<div class="col-lg-6">
<div class="single-work magnetic-item">
<div class="work-img">
<img src="/assets/img/home1/work-img-04.jpg" alt>
</div>
<div class="work-content">
<div class="content-wrap">
<h5><a href="#">Web Development</a></h5>
<ul>
<li><a href="#">Frameworks</a></li>
<li><a href="#">Color</a></li>
<li><a href="#">Databases</a></li>
</ul>
<div class="view-details-wrap">
<a href="#" class="active"><span>View
Details</span> <span><i class="bi bi-plus"></i></span></a>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-5">
<div class="single-work magnetic-item">
<div class="work-img">
<img src="/assets/img/home1/work-img-05.jpg" alt>
</div>
<div class="work-content">
<div class="content-wrap">
<h5><a href="#">Graphics Design</a></h5>
<ul>
<li><a href="#">Logo</a></li>
<li><a href="#">Color</a></li>
<li><a href="#">Typography</a></li>
<li><a href="#">Motion</a></li>
</ul>
<div class="view-details-wrap">
<a href="#" class="active"><span>View
Details</span> <span><i class="bi bi-plus"></i></span></a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12 d-flex align-items-center justify-content-between gap-4 flex-wrap text-animation">
<div class="section-title scroll-sec-title-end">
<h2>
Our Work
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
<g>
<path d="M50 20.7692H35.2015L45.6777 10.293L39.6703 4.32234L29.2308 14.7985V0H20.7692V14.7985L10.293 4.32234L4.32234 10.293L14.7985 20.7692H0V29.2308H14.7985L4.32234 39.6703L10.293 45.6777L20.7692 35.2015V50H29.2308V35.2015L39.6703 45.6777L45.6777 39.6703L35.2015 29.2308H50V20.7692Z" />
</g>
</svg>
</h2>
<p>Developing and maintaining a consistent visual identity for a brand across
various materials and platforms.</p>
</div>
<div class="btn_wrapper">
<a class="circle-btn btn-hover" href="#">
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z">
</path>
</svg> Explore <strong>Now</strong>
<span></span>
</a>
</div>
</div>
</div>
</div>
</div>
<div class="text-slider-section">
<div class="marquee">
<div class="marquee__group">
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg> DIGITAL PRODUCT
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>DIGITAL STUDIO
</span>
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg>BRANDING DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>EMAIL MARKETING
</span>
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg>BRANDING DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>EMAIL MARKETING
</span>
</div>
<div class="marquee__group">
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg> DIGITAL PRODUCT
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>DIGITAL STUDIO
</span>
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg>BRANDING DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>EMAIL MARKETING
</span>
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
<path d="M20 9.47811L26.1809 0L25.8767 11.4983L36.1889 7.6431L29.5116 16.7508L40 20L29.5116 23.2492L36.1889 32.3569L25.8767 28.5017L26.1809 40L20 30.5219L13.8191 40L14.1233 28.5017L3.82706 32.3569L10.4884 23.2492L0 20L10.4884 16.7508L3.82706 7.6431L14.1233 11.4983L13.8191 0L20 9.47811Z" />
</svg>BRANDING DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>UI/UX DESIGN
</span>
<span>
<svg class="circle" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
<circle cx="8.5" cy="8.5" r="8" />
</svg>EMAIL MARKETING
</span>
</div>
</div>
</div>


<div class="home1-process-section pt-130 pb-130">
<div class="container-lg container-fluid">
<div class="row g-4 mb-60 ">
<div class="col-lg-4">
<div class="sub-title text-animation">
<h6>Our Solution Process
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
<path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z"></path>
</svg>
</h6>
</div>
</div>
<div class="col-lg-8">
<div class="section-title text-animation">
<h2>03 STEPS WE<br>
<span>FOLLOW.</span>
</h2>
<div class="dash-and-paragraph">
<div class="dash"></div>

</div>
</div>
</div>
</div>
<div class="row g-lg-4 gy-5 d-flex justify-content-lg-center">
<div class="col-lg-4 col-sm-6">
<div class="single-process">
<div class="step-and-dash">
<h6>Step-01 :</h6>
<span></span>
</div>
<div class="icon">
<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
<g>
<path d="M67.6527 16.0958C68.7855 14.6144 67.827 11.5646 65.5614 12.436C60.246 14.5273 54.7564 19.1456 51.1838 23.6767C47.4368 28.4693 46.7397 34.5689 48.4825 40.3199C51.0095 48.6851 58.4161 54.1748 65.5614 58.6188C68.8726 60.7101 71.8353 55.4818 68.6112 53.3905C63.383 50.1665 57.5448 46.071 54.9307 40.3199C52.9265 35.7888 52.9265 30.6477 56.2377 26.6394C59.5489 22.7182 64.4286 20.1041 67.6527 16.0958ZM1.42836 53.3905C-1.88286 55.3947 1.16694 60.6229 4.47816 58.6188C11.6234 54.1748 18.943 48.6851 21.5571 40.3199C23.2998 34.7432 22.6899 28.6435 19.1172 24.0253C15.6317 19.407 9.96781 14.6144 4.5653 12.5231C2.29973 11.6518 1.25408 14.7016 2.474 16.1829C5.61095 20.1041 10.3164 22.7182 13.6276 26.4651C17.1131 30.4734 17.2873 35.7017 15.196 40.4942C12.4948 46.071 6.56946 50.1665 1.42836 53.3905ZM53.3622 1.36957C50.1381 6.59781 46.0426 12.436 40.2916 15.0501C35.7604 17.0543 30.6193 17.0543 26.611 13.7431C22.6027 10.4319 19.9886 5.55216 15.9803 2.32808C14.5861 1.1953 11.5363 2.24094 12.4077 4.50651C14.499 9.82189 19.1172 15.3115 23.6484 18.8842C28.4409 22.6311 34.5405 23.3282 40.2916 21.5854C48.6568 19.0584 54.1464 11.6518 58.5904 4.50651C60.5946 1.1953 55.4535 -1.85451 53.3622 1.36957ZM58.5904 65.5898C54.1464 58.4445 48.6568 51.125 40.2916 48.5108C34.7148 46.7681 28.6152 47.3781 23.9969 50.9507C19.3786 54.4362 14.5861 60.1001 12.4948 65.5026C11.6234 67.7682 14.6732 68.8138 16.1546 67.5939C20.0757 64.457 22.6899 59.7516 26.4368 56.4403C30.4451 52.9548 35.6733 52.7806 40.4659 54.8719C46.2169 57.486 50.2252 63.3242 53.5365 68.5524C55.4535 71.8636 60.5946 68.901 58.5904 65.5898Z" />
</g>
</svg>
</div>
<div class="content">
<h3>Strategy</h3>
<p>Analyze the client's industry, competitors, and target audience</p>
<ul>
<li><i class="bi bi-plus"></i> Initial Consultation.</li>
<li><i class="bi bi-plus"></i> Market Research.</li>
<li><i class="bi bi-plus"></i> Strategic Planning.</li>
</ul>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6">
<div class="single-process">
<div class="step-and-dash">
<h6>Step-02 :</h6>
<span></span>
</div>
<div class="icon">
<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
<path d="M58.3331 63C58.3331 50.1144 47.8856 39.6669 35 39.6669C22.1144 39.6669 11.6669 50.1144 11.6669 63H7C7 47.537 19.537 35 35 35C50.463 35 63 47.537 63 63H58.3331ZM39.6669 7C39.6669 19.8856 50.1144 30.3338 63 30.3338V35C47.537 35 35 22.463 35 7H39.6669Z" />
<path d="M56 21C59.866 21 63 17.866 63 14C63 10.134 59.866 7 56 7C52.134 7 49 10.134 49 14C49 17.866 52.134 21 56 21Z" />
<path d="M35.0001 63.0007C40.1546 63.0007 44.3332 58.8221 44.3332 53.6676C44.3332 48.513 40.1546 44.3345 35.0001 44.3345C29.8456 44.3345 25.667 48.513 25.667 53.6676C25.667 58.8221 29.8456 63.0007 35.0001 63.0007Z" fill="#F5BEBE" />
<path d="M18.6669 30.3338C25.1104 30.3338 30.3338 25.1104 30.3338 18.6669C30.3338 12.2234 25.1104 7 18.6669 7C12.2234 7 7 12.2234 7 18.6669C7 25.1104 12.2234 30.3338 18.6669 30.3338Z" fill="#F5BEBE" />
</svg>
</div>
<div class="content">
<h3>Sketch & Design</h3>
<p>Define the user experience (UX) and user interface (UI) design.</p>
<ul>
<li><i class="bi bi-plus"></i> Wireframing</li>
<li><i class="bi bi-plus"></i> Design Mockups.</li>
<li><i class="bi bi-plus"></i> Implementation.</li>
</ul>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6">
<div class="single-process">
<div class="step-and-dash">
<h6>Step-03 :</h6>
</div>
<div class="icon">
<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
<path d="M60.9 25.69H44.31V9.1C44.31 7.91 45.22 7 46.41 7H60.9C62.09 7 63 7.91 63 9.1V23.59C63 24.71 62.09 25.69 60.9 25.69ZM44.31 44.31H25.69V27.79C25.69 26.6 26.6 25.69 27.79 25.69H44.38V44.31H44.31ZM23.59 63H9.1C7.91 63 7 62.09 7 60.9V46.41C7 45.22 7.91 44.31 9.1 44.31H25.69V60.9C25.69 62.09 24.71 63 23.59 63ZM9.1 7H22.54C23.73 7 24.29 8.4 23.45 9.24L9.24 23.45C8.4 24.29 7 23.66 7 22.54V9.1C7 7.91 7.91 7 9.1 7Z" />
<path d="M60.9001 63.0001H46.4101C45.2201 63.0001 44.3101 62.0901 44.3101 60.9001V44.3101H60.9001C62.0901 44.3101 63.0001 45.2201 63.0001 46.4101V60.9001C63.0001 62.0901 62.0901 63.0001 60.9001 63.0001Z" />
</svg>
</div>
<div class="content">
<h3>Development</h3>
<p>Implement coding, scripting, and programming as needed.</p>
<ul>
<li><i class="bi bi-plus"></i> Design Implementation.</li>
<li><i class="bi bi-plus"></i> Testing & Fixing.</li>
<li><i class="bi bi-plus"></i> Product Launch</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="testimonial-section mb-130" id="letstalk">
<div class="vector-2 d-lg-flex d-none">
<svg width="388" height="483" viewBox="0 0 388 483" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M49.9996 415.484C49.9996 617.519 213.092 780.968 413.866 780.968C614.641 780.968 777.733 617.519 777.733 415.484C777.733 213.449 614.641 50 413.866 50C213.092 50 49.9996 213.449 49.9996 415.484Z" stroke-width="100" />
</svg>
</div>
<div class="container-lg container-fluid">
<div class="row g-4">
<div class="col-lg-4">
<div class="sub-title text-animation">
<h6>Client Feedback
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
<path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z"></path>
</svg>
</h6>
</div>
</div>
<div class="col-lg-8">
<div class="section-title text-animation">
<h2>Feedbacks From Our <strong>Happy Clients.</strong></h2>
<div class="dash-and-paragraph two">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 429 64">
<path d="M0.333333 3C0.333333 4.47276 1.52724 5.66667 3 5.66667C4.47276 5.66667 5.66667 4.47276 5.66667 3C5.66667 1.52724 4.47276 0.333333 3 0.333333C1.52724 0.333333 0.333333 1.52724 0.333333 3ZM427 3L427.271 3.42013L428.697 2.5H427V3ZM394.084 64L397.265 59.1819L391.502 58.836L394.084 64ZM3 3.5H427V2.5H3V3.5ZM426.729 2.57987C413.302 11.2438 396.485 27.4669 393.855 59.4675L394.852 59.5494C397.45 27.938 414.03 11.9643 427.271 3.42013L426.729 2.57987Z" />
</svg>
<p>We Have The Solutions To All Your Buisness Problems.</p>
</div>
</div>
</div>
</div>
<style>
    .review-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: 6px solid #F76532;
    }
</style>
<div class="contact-page">
    <div class=" contact-info-wrap">
        <div class="row gy-5 justify-content-between align-items-center">
        <div class="col-xl-6">
        <div class="row">
        <div class="col-xl-11 col-md-6 mb-30 ">
        <img class="review-img" src="/assets/img/reviews/review1.png" alt="">

        </div>
        <div class="col-xl-11 col-md-6 mb-30 " style="margin-left: auto;">
            <img class="review-img" src="/assets/img/reviews/review2.png" alt="">
    
            </div>
        <div class="col-xl-11 col-md-6 mb-30 ">
                <img class="review-img" src="/assets/img/reviews/review3.png" alt="">
        
            </div>
        <div class="col-xl-11 col-md-6 mb-30 " style="margin-left: auto;">
                    <img class="review-img" src="/assets/img/reviews/review4.png" alt="">
            
            </div>
        </div>
        </div>
        <div class="col-xl-6">
        <div class="contact-form-wrap">
        <form id="helpform" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="row">
        
        <div class="col-md-12">
        <div class="form-inner mb-30">
        <label>Your Email*</label>
        <input type="email" name="email" placeholder="example@gamil.com" required>
        </div>
        </div>
        <div class="col-md-12">
            <div class="form-inner mb-30">
            <label>Time Period*</label>
            <select class="form-select" name="timeperiod" id="" required>
                <option value="1month">1 Month</option>
                <option value="3months">3 Month</option>
                <option value="6months">6 Month</option>
                <option value="1year">1 Year</option>
                <option value="Fulltime">Fulltime</option>
                
            </select>  
            </div>
            </div>
     

        <div class="col-md-12">
            <div class="form-inner mt-30 mb-60">
            <label>Branch</label>
            <select class="form-select" name="branch" id="" required>
                <option value="web development">Website Development</option>
                <option value="app development">App Development</option>
                <option value="graphic designer">Graphics Designing</option>
                <option value="other requirements">Other</option>
            </select>            
            </div>
            </div>


        <div class="col-md-12">
        <div class="form-inner mb-30 mt-30">
        <label>How can We Help You?</label>
        <textarea name="message" placeholder="What’s on your mind"></textarea>
        </div>
        </div>
        <!-- <div class="col-md-12 mb-50">
        <div class="form-inner2">
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="contactCheck">
        <label class="form-check-label" for="contactCheck">
        Please save my name, email address for the next time I
        message.
        </label>
        </div>
        </div>
        </div> -->
        </div>
        <div class="form-inner">
        <button id="submitbtn" class=" btn primary-btn3 btn-hover" type="submit">
        Submit Now
        <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z">
        </path>
        </svg>
        <span></span>
        </button>
        </div>
        </form>
        </div>
        </div>
        </div>
        </div>
</div>

</div>
</div>




<div class="contact-section mb-130" >
<div class="container-lg container-fluid">
<div class="row g-lg-4 gy-5">
<div class="col-lg-8">
<div class="section-title text-animation">
<h2>Let’s <span>TALK</span></h2>
<div class="dash-and-paragraph">
<div class="dash"></div>
<div class="content-and-social">
<p>Ready to elevate your digital strategy? Reach out to the Zmedios team to
    start your transformation.</p>
<div class="social-area">
<h6>Connect Us</h6>
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 50 6">
<path d="M50 3L45 0.113249V5.88675L50 3ZM0 3.5H45.5V2.5H0V3.5Z" />
</svg>
<ul>
<li><a href="https://hi-in.facebook.com/zmediostechnology/"><i class="bx bxl-facebook"></i></a>
</li>
<li><a href="https://www.youtube.com/channel/UCjTawyrg0i7aJXnoBbZ92TQ"><i class="bi bi-youtube"></i></a></li>
<li><a href="https://wa.me/91-9340609004"><i class="bi bi-whatsapp"></i></a>
</li>
<li><a href="https://www.instagram.com/zmedios_technology_pvt_ltd_?igsh=MTNoeWtkMHlrejdseA=="><i class="bx bxl-instagram-alt"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 d-lg-flex justify-content-end align-items-center">
<div class="btn_wrapper">
<a class="circle-btn btn-hover" href="/contact">
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
<path d="M10.0035 3.40804L1.41153 12L0 10.5885L8.59097 1.99651H1.01922V0H12V10.9808H10.0035V3.40804Z">
</path>
</svg> Contact <strong>Now</strong>
<span></span>
</a>
</div>
</div>
</div>
</div>
</div>


<%- include('footer') %>

</main>
<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
<script>
   $(document).ready(function() {
    $('#helpform').submit(function(e) {
        e.preventDefault(); // Prevent the default form submission

        var formData = $(this).serialize(); // Serialize the form data
        var $submitButton = $('#submitbtn'); // Cache the submit button by ID

        $.ajax({
            type: "POST",
            url: "/needhelp",
            data: formData,
            success: function(response) {
                // Change the button color to green and text to 'Message Sent'
                $submitButton.css('background-color', '#28a745'); // Green color
                $submitButton.text('Message Sent'); // Update text

                // Clear the form fields
                $('#helpform').trigger('reset');

                // After 5 seconds, revert the button color and text
                setTimeout(function() {
                    $submitButton.css('background-color', ''); // Revert to original color
                    $submitButton.text('Submit Now'); // Revert text
                }, 5000); // 5 seconds delay
            },
            error: function(xhr, status, error) {
                // Change the button color to red and text to 'An error occurred'
                $submitButton.css('background-color', '#dc3545'); // Red color
                $submitButton.text('An error occurred'); // Update text

                // After 5 seconds, revert the button color and text
                setTimeout(function() {
                    $submitButton.css('background-color', ''); // Revert to original color
                    $submitButton.text('Submit Now'); // Revert text
                }, 5000); // 5 seconds delay
            }
        });
    });
});

</script>


<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<script src="/assets/js/swiper-bundle.min.js"></script>
<script src="/assets/js/slick.min.js"></script>

<script src="/assets/js/waypoints.min.js"></script>

<script src="/assets/js/jquery.counterup.min.js"></script>

<script src="/assets/js/jquery.nice-select.min.js"></script>

<script src="/assets/js/jquery.fancybox.min.js"></script>

<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>

<script src="/assets/js/gsap.min.js"></script>
<script src="/assets/js/ScrollTrigger.min.js"></script>
<script src="/assets/js/SmoothScroll.js"></script>
<script src="/assets/js/simpleParallax.min.js"></script>
<script src="/assets/js/TweenMax.min.js"></script>
<script src="/assets/js/SplitText.min.js"></script>

<script src="/assets/js/jquery.marquee.min.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>